.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.exchange-container {
  min-width: 1200px;
  width: 100%;
  min-height: 100%;
  padding: 0px 10px;
  padding-top: 10px;
  padding-bottom: 430px;
  margin: 0 auto;
  background: #0d1225;
  box-sizing: border-box; }
  .exchange-container .exchange-no-data {
    text-align: center;
    color: #b9c1cc;
    padding: 10px 0px; }
  .exchange-container .exchange-header {
    width: 100%;
    height: 70px;
    display: flex;
    background: #1f2636;
    align-items: center; }
    .exchange-container .exchange-header .stock-code-mask {
      background: none;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 1; }
    .exchange-container .exchange-header .stock-code {
      width: 200px;
      color: #cdd5df;
      font-size: 22px;
      padding: 20px 0px;
      padding-left: 30px;
      position: relative;
      margin-right: 20px;
      cursor: pointer; }
      .exchange-container .exchange-header .stock-code i {
        margin-left: 10px; }
      .exchange-container .exchange-header .stock-code .stock-code-span {
        cursor: pointer; }
      .exchange-container .exchange-header .stock-code .stock-select-model {
        display: none;
        width: 540px;
        height: 400px;
        overflow-y: auto;
        position: absolute;
        left: 40px;
        top: 50px;
        z-index: 1000;
        box-sizing: border-box;
        background: #1d2433;
        border: 1px solid #242c3f;
        border-radius: 6px; }
        .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-header {
          display: flex;
          height: 56px;
          padding: 0px 20px;
          padding-top: 10px;
          background: rgba(23, 26, 37, 0.2); }
          .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-header .stock-select-tab {
            flex: 1; }
            .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-header .stock-select-tab li {
              display: inline-block;
              color: #cdd5df;
              margin-right: 30px;
              font-size: 16px;
              cursor: pointer; }
              .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-header .stock-select-tab li.active {
                color: #5f8ed4;
                border-bottom: 2px solid #5f8ed4; }
          .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-header .stock-select-search {
            flex-basis: 124px; }
            .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-header .stock-select-search input {
              width: 124px;
              height: 30px;
              border-radius: 15px;
              border: 1px solid #334768;
              background: #253045;
              color: #fff;
              outline: none;
              box-sizing: border-box;
              padding: 0px 10px;
              font-size: 12px; }
        .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table-box {
          max-height: 300px;
          overflow-y: auto;
          padding: 0px 20px; }
        .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table {
          width: 100%;
          font-size: 12px; }
          .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table tr {
            cursor: pointer; }
            .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table tr:hover {
              background: rgba(49, 58, 86, 0.3); }
          .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table td, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table th {
            text-align: left;
            border-bottom: 1px solid #2c354d;
            height: 40px; }
            .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table td .green, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table th .green {
              color: #319e5c; }
            .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table td .red, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table th .red {
              color: #b83a3a; }
            .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table td.rise-and-fall, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table td.turn-over, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table th.rise-and-fall, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table th.turn-over {
              display: table-cell; }
    .exchange-container .exchange-header .exchange-num-list {
      flex: 1;
      display: flex;
      margin-bottom: 0px; }
      .exchange-container .exchange-header .exchange-num-list li {
        flex: 1; }
        .exchange-container .exchange-header .exchange-num-list li h6 {
          color: #cdd5df;
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 0px;
          word-break: keep-all;
          white-space: nowrap; }
          .exchange-container .exchange-header .exchange-num-list li h6 .red {
            color: #b83a3a; }
          .exchange-container .exchange-header .exchange-num-list li h6 .green {
            color: #319e5c; }
        .exchange-container .exchange-header .exchange-num-list li p {
          font-size: 12px;
          margin-bottom: 0;
          color: rgba(151, 176, 214, 0.7); }
          .exchange-container .exchange-header .exchange-num-list li p a {
            color: rgba(151, 176, 214, 0.7);
            border-bottom: 1px dotted rgba(151, 176, 214, 0.7); }
  .exchange-container .data-center {
    width: 100%;
    display: flex;
    height: 800px;
    margin-top: 10px; }
    .exchange-container .data-center .data-left {
      min-width: 256px;
      flex: 1;
      height: 800px;
      margin-right: 10px;
      background: #1f2636; }
    .exchange-container .data-center .data-middle {
      flex: 3;
      height: 800px;
      background: #171a25; }
    .exchange-container .data-center .data-right {
      min-width: 256px;
      flex: 1;
      height: 800px;
      margin-left: 10px;
      background: #1f2636; }
  .exchange-container .dynamic-data {
    width: 100%;
    font-size: 12px; }
    .exchange-container .dynamic-data .top-header {
      width: 100%;
      display: flex;
      height: 42px;
      align-items: center;
      background: rgba(23, 26, 37, 0.2);
      margin-bottom: 5px; }
      .exchange-container .dynamic-data .top-header .icon-tab {
        flex: 1;
        padding-right: 15px;
        display: flex;
        color: #fff;
        align-items: center;
        margin-bottom: 0px; }
        .exchange-container .dynamic-data .top-header .icon-tab li {
          padding: 5px; }
          .exchange-container .dynamic-data .top-header .icon-tab li span {
            display: inline-block;
            width: 20px;
            height: 20px;
            cursor: pointer; }
          .exchange-container .dynamic-data .top-header .icon-tab li .type-all-icon {
            background: url("../../../images/icon-all_nor.svg"); }
            .exchange-container .dynamic-data .top-header .icon-tab li .type-all-icon:hover, .exchange-container .dynamic-data .top-header .icon-tab li .type-all-icon.active {
              background: url("../../../images/icon-all_sel.svg"); }
          .exchange-container .dynamic-data .top-header .icon-tab li .type-buy-icon {
            background: url("../../../images/icon-buy_nor.svg"); }
            .exchange-container .dynamic-data .top-header .icon-tab li .type-buy-icon:hover, .exchange-container .dynamic-data .top-header .icon-tab li .type-buy-icon.active {
              background: url("../../../images/icon-buy_sel.svg"); }
          .exchange-container .dynamic-data .top-header .icon-tab li .type-sell-icon {
            background: url("../../../images/icon-sell_nor.svg"); }
            .exchange-container .dynamic-data .top-header .icon-tab li .type-sell-icon:hover, .exchange-container .dynamic-data .top-header .icon-tab li .type-sell-icon.active {
              background: url("../../../images/icon-sell_sel.svg"); }
      .exchange-container .dynamic-data .top-header .decimal {
        flex-basis: 135px;
        width: 135px;
        height: 42px;
        color: rgba(151, 176, 214, 0.7);
        position: relative;
        align-self: end;
        display: flex;
        align-items: center; }
        .exchange-container .dynamic-data .top-header .decimal select {
          margin: 0px;
          background: transparent;
          border: 1px solid transparent;
          outline: none;
          color: #c2cad4;
          appearance: none;
          flex: 1;
          cursor: pointer; }
          .exchange-container .dynamic-data .top-header .decimal select option {
            background: #fff;
            color: #000; }
        .exchange-container .dynamic-data .top-header .decimal:after {
          content: "";
          width: 10px;
          height: 10px;
          background-size: 100% 100%;
          position: absolute;
          right: 10px;
          pointer-events: none; }
    .exchange-container .dynamic-data .data-list-box {
      width: 100%; }
      .exchange-container .dynamic-data .data-list-box .data-title {
        width: 100%; }
        .exchange-container .dynamic-data .data-list-box .data-title td {
          color: rgba(151, 176, 214, 0.7); }
          .exchange-container .dynamic-data .data-list-box .data-title td:first-child {
            text-align: left; }
          .exchange-container .dynamic-data .data-list-box .data-title td:nth-child(2) {
            text-align: right; }
      .exchange-container .dynamic-data .data-list-box .data-list {
        width: 100%;
        max-height: 350px;
        overflow-y: auto; }
        .exchange-container .dynamic-data .data-list-box .data-list table {
          width: 100%;
          color: #b9c1cc; }
          .exchange-container .dynamic-data .data-list-box .data-list table tr {
            width: 100%;
            height: 25px;
            vertical-align: middle;
            cursor: pointer; }
            .exchange-container .dynamic-data .data-list-box .data-list table tr:hover {
              background: rgba(255, 255, 255, 0.1); }
            .exchange-container .dynamic-data .data-list-box .data-list table tr .rectangle {
              position: relative;
              height: 20px;
              width: 100%;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
              .exchange-container .dynamic-data .data-list-box .data-list table tr .rectangle div {
                position: absolute;
                top: 0;
                right: 0;
                height: 24px; }
          .exchange-container .dynamic-data .data-list-box .data-list table td {
            font-size: 12px;
            line-height: 1.5;
            position: relative;
            z-index: 1; }
            .exchange-container .dynamic-data .data-list-box .data-list table td:nth-child(1) {
              text-align: left;
              padding: 2px 10px; }
            .exchange-container .dynamic-data .data-list-box .data-list table td:nth-child(2) {
              text-align: right;
              padding: 2px 10px; }
      .exchange-container .dynamic-data .data-list-box .data-middle {
        height: 30px;
        line-height: 30px;
        background: #313a56;
        color: #cdd5df;
        font-size: 14px;
        min-width: 240px;
        width: 94%;
        margin: 10px auto;
        text-align: center; }
        .exchange-container .dynamic-data .data-list-box .data-middle span {
          font-size: 12px;
          color: rgba(151, 176, 214, 0.7); }
      .exchange-container .dynamic-data .data-list-box .data-list-table {
        width: 100%; }
        .exchange-container .dynamic-data .data-list-box .data-list-table .list-tr-box {
          width: 100%;
          position: relative; }
          .exchange-container .dynamic-data .data-list-box .data-list-table .list-tr-box .list-tr {
            width: 100%;
            display: flex;
            height: 24px;
            align-items: center;
            color: #b9c1cc;
            position: relative;
            z-index: 1;
            cursor: pointer; }
            .exchange-container .dynamic-data .data-list-box .data-list-table .list-tr-box .list-tr:hover {
              background: rgba(255, 255, 255, 0.1); }
            .exchange-container .dynamic-data .data-list-box .data-list-table .list-tr-box .list-tr .list-td {
              flex: 1; }
              .exchange-container .dynamic-data .data-list-box .data-list-table .list-tr-box .list-tr .list-td:first-child {
                padding-left: 10px; }
              .exchange-container .dynamic-data .data-list-box .data-list-table .list-tr-box .list-tr .list-td:last-child {
                text-align: right;
                padding-right: 10px; }
          .exchange-container .dynamic-data .data-list-box .data-list-table .list-tr-box .rectangle {
            position: absolute;
            right: 0px;
            top: 2px;
            height: 20px;
            width: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .exchange-container .new-exchange-data {
    width: 100%;
    font-size: 12px; }
    .exchange-container .new-exchange-data .new-exchange-title {
      color: #cdd5df;
      text-align: center;
      font-size: 14px;
      height: 42px;
      line-height: 42px;
      background: rgba(23, 26, 37, 0.2);
      margin-bottom: 5px; }
    .exchange-container .new-exchange-data .data-list-title {
      width: 100%;
      color: rgba(151, 176, 214, 0.7); }
      .exchange-container .new-exchange-data .data-list-title tr {
        padding: 0px 10px;
        display: flex; }
      .exchange-container .new-exchange-data .data-list-title td {
        text-align: right;
        flex: 1; }
        .exchange-container .new-exchange-data .data-list-title td.price-td {
          width: 75px;
          text-align: left; }
        .exchange-container .new-exchange-data .data-list-title td.vol-td {
          width: 95px; }
        .exchange-container .new-exchange-data .data-list-title td .price {
          display: block;
          width: 75px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .exchange-container .new-exchange-data .data-list-title td .vol {
          width: 95px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .exchange-container .new-exchange-data .data-list-title td .time {
          display: block; }
    .exchange-container .new-exchange-data .data-list-box {
      width: 100%;
      height: 728px;
      overflow-y: auto; }
      .exchange-container .new-exchange-data .data-list-box table {
        width: 100%; }
        .exchange-container .new-exchange-data .data-list-box table tr {
          height: 25px;
          padding: 0px 10px;
          display: flex;
          align-items: center; }
        .exchange-container .new-exchange-data .data-list-box table td {
          color: #b9c1cc;
          text-align: right;
          flex: 1; }
          .exchange-container .new-exchange-data .data-list-box table td.price-td {
            width: 75px;
            text-align: left; }
          .exchange-container .new-exchange-data .data-list-box table td.vol-td {
            width: 95px; }
          .exchange-container .new-exchange-data .data-list-box table td .price {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .exchange-container .new-exchange-data .data-list-box table td .vol {
            width: 95px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .exchange-container .new-exchange-data .data-list-box table td .time {
            display: block;
            padding-left: 9px; }
  .exchange-container .exchange-dash-box {
    width: 100%;
    height: 405px;
    background: #1f2636;
    color: #8da5c9;
    position: relative; }
    .exchange-container .exchange-dash-box .exchange-dash-top {
      width: 100%;
      height: 42px;
      display: flex;
      padding: 10px;
      padding-top: 15px;
      box-sizing: border-box;
      font-size: 12px;
      background: rgba(23, 26, 37, 0.2); }
      .exchange-container .exchange-dash-box .exchange-dash-top .left {
        flex: 1; }
        .exchange-container .exchange-dash-box .exchange-dash-top .left .time-select {
          width: 100%;
          display: flex; }
          .exchange-container .exchange-dash-box .exchange-dash-top .left .time-select li {
            text-align: center;
            padding: 0px 4px;
            margin-right: 5px;
            cursor: pointer; }
            .exchange-container .exchange-dash-box .exchange-dash-top .left .time-select li.active {
              background: #5f8ed4;
              color: #fff; }
      .exchange-container .exchange-dash-box .exchange-dash-top .right {
        flex-basis: 190px;
        width: 190px;
        padding-left: 70px;
        box-sizing: border-box; }
        .exchange-container .exchange-dash-box .exchange-dash-top .right img {
          margin-left: 6px;
          cursor: pointer; }
        .exchange-container .exchange-dash-box .exchange-dash-top .right .type-select {
          display: inline-block; }
          .exchange-container .exchange-dash-box .exchange-dash-top .right .type-select span {
            padding: 2px 7px;
            cursor: pointer; }
            .exchange-container .exchange-dash-box .exchange-dash-top .right .type-select span.active {
              background: #5f8ed4;
              color: #fff; }
    .exchange-container .exchange-dash-box .exchange-dash {
      width: 100%;
      height: 365px; }
    .exchange-container .exchange-dash-box .dash-select-box {
      position: relative; }
      .exchange-container .exchange-dash-box .dash-select-box .dash-select-list {
        position: absolute; }
    .exchange-container .exchange-dash-box .dash-loading-img {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -50px;
      margin-top: -50px;
      z-index: 2; }
  .exchange-container .pay-bix-box {
    width: 100%;
    height: 380px;
    background: #1f2636;
    margin-top: 10px; }
    .exchange-container .pay-bix-box .pay-bix-tab {
      width: 100%;
      margin-bottom: 0px;
      height: 42px;
      background: rgba(23, 26, 37, 0.2); }
      .exchange-container .pay-bix-box .pay-bix-tab li {
        display: inline-block;
        height: 34px;
        line-height: 34px;
        color: #cdd5df;
        font-size: 14px;
        margin: 0px 15px;
        cursor: pointer; }
        .exchange-container .pay-bix-box .pay-bix-tab li.active {
          color: #5f8ed4;
          border-bottom: 1px solid #5f8ed4; }
    .exchange-container .pay-bix-box .switch-way {
      width: 100%;
      display: flex;
      padding: 0px 16px;
      justify-content: space-between;
      padding-top: 16px; }
      .exchange-container .pay-bix-box .switch-way span {
        flex: 1;
        background-color: #313a56;
        height: 40px;
        line-height: 40px;
        border-radius: 2px;
        text-align: center;
        color: #fff; }
        .exchange-container .pay-bix-box .switch-way span.active {
          background-color: #1d72c9; }
        .exchange-container .pay-bix-box .switch-way span:first-child {
          margin-right: 20px; }
        .exchange-container .pay-bix-box .switch-way span:last-child {
          margin-left: 20px; }
    .exchange-container .pay-bix-box .h-20 {
      width: 100%;
      height: 20px; }
    .exchange-container .pay-bix-box .pay-bix-form {
      width: 100%;
      font-size: 12px; }
      .exchange-container .pay-bix-box .pay-bix-form .form-row {
        width: 100%;
        display: flex;
        padding: 0px 15px;
        box-sizing: border-box; }
        .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 {
          flex: 1; }
          .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5:first-child {
            padding-right: 20px; }
          .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5:last-child {
            padding-left: 20px; }
          .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 label {
            display: block;
            width: 100%;
            color: rgba(151, 176, 214, 0.7);
            padding-bottom: 5px; }
          .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 .input-box {
            display: flex;
            height: 40px;
            background: #253045;
            border: 1px solid #3c547d;
            align-items: center; }
            .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 .input-box input[type=text] {
              flex: 1;
              color: #f6f7f8;
              height: 40px;
              padding: 0px 10px;
              background: none;
              border: none;
              outline: none;
              font-size: 14px; }
              .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 .input-box input[type=text]:disabled {
                cursor: not-allowed; }
            .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 .input-box span {
              padding: 0px 12px;
              color: rgba(151, 176, 214, 0.7); }
          .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 p {
            width: 100%;
            color: rgba(151, 176, 214, 0.7);
            margin-bottom: 0px;
            display: flex;
            align-items: center; }
            .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 p.price-rate {
              max-width: 289px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 p span.num-limit {
              display: inline-block;
              max-width: 240px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding: 0px 2px; }
          .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 .avbi {
            color: #fbfcfc;
            border-bottom: 2px solid #293147;
            padding-bottom: 2px;
            padding-top: 7px;
            margin-bottom: 6px;
            position: relative; }
            .exchange-container .pay-bix-box .pay-bix-form .form-row .form-control5 .avbi .deposit {
              background: #213c5c;
              border: 1px solid #255d97;
              color: #fff;
              padding: 1px 5px;
              position: absolute;
              right: 0px;
              top: 0px;
              cursor: pointer; }
    .exchange-container .pay-bix-box .range-box {
      padding-top: 10px;
      padding-bottom: 6px; }
      .exchange-container .pay-bix-box .range-box .ant-slider-rail {
        background: #313A56; }
      .exchange-container .pay-bix-box .range-box .ant-slider-dot {
        background: #313A56;
        border: none; }
      .exchange-container .pay-bix-box .range-box .ant-slider-dot-active {
        background: #5F8ED4;
        border: none; }
      .exchange-container .pay-bix-box .range-box .ant-slider-track {
        background: #5F8ED4; }
      .exchange-container .pay-bix-box .range-box .ant-slider-handle {
        border: none;
        background: #5F8ED4;
        width: 12px;
        height: 12px;
        margin-top: -4px; }
      .exchange-container .pay-bix-box .range-box .ant-slider-mark .ant-slider-mark-text {
        font-size: 12px; }
      .exchange-container .pay-bix-box .range-box .range {
        display: flex; }
        .exchange-container .pay-bix-box .range-box .range li {
          flex: 1;
          height: 6px;
          background: #313a56;
          position: relative; }
          .exchange-container .pay-bix-box .range-box .range li::before {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: #313a56;
            position: absolute;
            left: 0px;
            top: -3px; }
          .exchange-container .pay-bix-box .range-box .range li:last-child::after {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: #313a56;
            position: absolute;
            right: 0px;
            top: -3px; }
      .exchange-container .pay-bix-box .range-box .percent {
        width: 100%;
        display: flex;
        font-size: 12px; }
        .exchange-container .pay-bix-box .range-box .percent li {
          flex: 1;
          color: #8ba2c6;
          padding-top: 15px;
          position: relative;
          margin-left: -3px; }
          .exchange-container .pay-bix-box .range-box .percent li:last-child::before {
            content: "100%";
            position: absolute;
            right: -10px; }
    .exchange-container .pay-bix-box .total-box {
      width: 100%; }
      .exchange-container .pay-bix-box .total-box .total {
        color: #fbfbfb;
        padding-bottom: 5px;
        margin-bottom: 0px;
        width: 100%; }
      .exchange-container .pay-bix-box .total-box .btn-style {
        width: 100%;
        border: 1px solid #1d63ac;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #b3bbc6;
        box-sizing: border-box;
        font-size: 14px; }
        .exchange-container .pay-bix-box .total-box .btn-style a {
          color: #2b93f6; }
      .exchange-container .pay-bix-box .total-box .buy-btn, .exchange-container .pay-bix-box .total-box .sell-btn {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 16px; }
        .exchange-container .pay-bix-box .total-box .buy-btn:disabled, .exchange-container .pay-bix-box .total-box .sell-btn:disabled {
          background: #888; }
      .exchange-container .pay-bix-box .total-box .buy-btn {
        background: #319e5c; }
      .exchange-container .pay-bix-box .total-box .sell-btn {
        background: #b83a3a; }
  .exchange-container .trade-list {
    width: 100%;
    margin-top: 10px;
    background: #1f2636;
    box-sizing: border-box; }
    .exchange-container .trade-list .trade-title {
      width: 100%;
      height: 42px;
      line-height: 42px;
      background: rgba(23, 26, 37, 0.2);
      position: relative;
      padding: 0px 15px;
      box-sizing: border-box; }
      .exchange-container .trade-list .trade-title .left {
        float: left;
        color: #ccd4de; }
        .exchange-container .trade-list .trade-title .left li {
          display: inline-block;
          margin-right: 20px;
          cursor: pointer; }
          .exchange-container .trade-list .trade-title .left li.active {
            color: #5f8ed4;
            border-bottom: 1px solid #5f8ed4; }
      .exchange-container .trade-list .trade-title .right {
        float: right;
        color: #ccd4de; }
        .exchange-container .trade-list .trade-title .right li {
          padding: 0px 20px;
          display: inline-block;
          cursor: pointer; }
          .exchange-container .trade-list .trade-title .right li.active {
            color: #5f8ed4; }
      .exchange-container .trade-list .trade-title .more {
        margin-top: 12px;
        height: 18px;
        line-height: 18px;
        float: right;
        color: #2b93f6;
        padding-left: 30px;
        margin-left: 20px;
        border-left: 1px solid #6c7f9d;
        vertical-align: middle; }
        .exchange-container .trade-list .trade-title .more img {
          vertical-align: baseline; }
        .exchange-container .trade-list .trade-title .more:hover {
          color: #5f8ed4; }
    .exchange-container .trade-list .trade-table-scroll {
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      padding: 0px 15px;
      padding-bottom: 20px; }
    .exchange-container .trade-list .trade-table {
      font-size: 12px;
      width: 100%; }
      .exchange-container .trade-list .trade-table th, .exchange-container .trade-list .trade-table td {
        text-align: left; }
        .exchange-container .trade-list .trade-table th:last-child, .exchange-container .trade-list .trade-table td:last-child {
          text-align: right;
          width: 120px; }
      .exchange-container .trade-list .trade-table th {
        color: rgba(151, 176, 214, 0.7);
        border-bottom: 1px solid #2f3752;
        padding: 0px 10px;
        padding-top: 10px;
        padding-bottom: 18px; }
      .exchange-container .trade-list .trade-table td {
        color: #c6ced8;
        padding: 10px; }
        .exchange-container .trade-list .trade-table td.option a {
          color: #2b91f3;
          padding: 4px 8px;
          border: 1px solid #2b91f3;
          cursor: pointer; }
        .exchange-container .trade-list .trade-table td .red {
          color: #b83a3a; }
        .exchange-container .trade-list .trade-table td .green {
          color: #319e5c; }
    .exchange-container .trade-list .no-trade-list {
      text-align: center;
      color: #90a8cd;
      padding: 20px 0px; }
  .exchange-container .coin-basics-box {
    width: 100%;
    background: #1f2636;
    margin-top: 10px;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 40px; }
    .exchange-container .coin-basics-box .coin-basics-title {
      height: 42px;
      line-height: 42px;
      background: rgba(23, 26, 37, 0.2);
      color: #ccd4de;
      font-size: 14px;
      position: relative;
      padding-left: 15px;
      cursor: pointer; }
      .exchange-container .coin-basics-box .coin-basics-title a {
        color: #2b93f6;
        float: right;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px; }
        .exchange-container .coin-basics-box .coin-basics-title a img {
          margin-left: 4px; }
        .exchange-container .coin-basics-box .coin-basics-title a:hover {
          color: #5f8ed4; }
        .exchange-container .coin-basics-box .coin-basics-title a .link {
          display: inline-block;
          width: 190px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal; }
      .exchange-container .coin-basics-box .coin-basics-title .right-icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        font-size: 12px;
        margin-right: 5px;
        transform-origin: 50% 50%;
        transform: "rotate(90deg)";
        transition: all .15s;
        position: absolute;
        left: 0px;
        top: 14px;
        background: url("../../../images/right.svg") left top no-repeat;
        background-size: 100% 100%; }
    .exchange-container .coin-basics-box .coin-basics-con {
      display: flex;
      font-size: 12px;
      height: auto;
      transition: height 0.5s;
      overflow: hidden; }
      .exchange-container .coin-basics-box .coin-basics-con .left {
        flex: 1;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 40px; }
        .exchange-container .coin-basics-box .coin-basics-con .left .icon-box {
          margin-bottom: 20px;
          display: flex;
          align-items: center; }
          .exchange-container .coin-basics-box .coin-basics-con .left .icon-box .coin-icon {
            height: 48px; }
          .exchange-container .coin-basics-box .coin-basics-con .left .icon-box .coin-name {
            color: #5f8ed4;
            font-size: 28px;
            padding-left: 10px;
            padding-right: 10px; }
          .exchange-container .coin-basics-box .coin-basics-con .left .icon-box .coin-full-name {
            color: rgba(151, 176, 214, 0.7);
            font-size: 18px; }
        .exchange-container .coin-basics-box .coin-basics-con .left h3 {
          color: rgba(151, 176, 214, 0.7);
          border-bottom: 1px solid #2f3752;
          padding-bottom: 10px; }
        .exchange-container .coin-basics-box .coin-basics-con .left p {
          color: #c0c8d2;
          padding-top: 10px;
          line-height: 2.4; }
      .exchange-container .coin-basics-box .coin-basics-con .right {
        flex: 1;
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 40px; }
        .exchange-container .coin-basics-box .coin-basics-con .right table {
          width: 100%;
          color: #cdd5df; }
          .exchange-container .coin-basics-box .coin-basics-con .right table td {
            border-bottom: 1px solid #2d3650;
            height: 50px;
            line-height: 50px; }
            .exchange-container .coin-basics-box .coin-basics-con .right table td:first-child {
              color: rgba(151, 176, 214, 0.7); }
            .exchange-container .coin-basics-box .coin-basics-con .right table td a {
              color: #2b93f6; }
              .exchange-container .coin-basics-box .coin-basics-con .right table td a:hover {
                text-decoration: underline;
                cursor: pointer; }
  .exchange-container .exchange-trading-container {
    width: 100%;
    position: relative; }
    .exchange-container .exchange-trading-container .link-box {
      position: absolute;
      right: 50px;
      top: 10px; }
      .exchange-container .exchange-trading-container .link-box a {
        color: rgba(151, 176, 214, 0.7);
        font-size: 12px;
        border-bottom: 1px dotted rgba(151, 176, 214, 0.7);
        margin-left: 10px; }

@media screen and (max-width: 800px) {
  .exchange-container {
    min-width: 100%;
    padding-bottom: 740px; }
    .exchange-container .exchange-header .exchange-num-list li {
      display: none; }
      .exchange-container .exchange-header .exchange-num-list li.current-price {
        display: block; }
      .exchange-container .exchange-header .exchange-num-list li.change-rate {
        display: block; }
    .exchange-container .pay-bix-box {
      height: auto;
      padding-bottom: 16px; }
    .exchange-container .trade-list .trade-title {
      height: auto; }
      .exchange-container .trade-list .trade-title .left {
        float: none; }
      .exchange-container .trade-list .trade-title .right {
        float: none; }
        .exchange-container .trade-list .trade-title .right li {
          padding-left: 0px; }
    .exchange-container .trade-list .trade-table-scroll {
      overflow: auto; }
    .exchange-container .trade-list .trade-table th, .exchange-container .trade-list .trade-table td {
      word-break: keep-all;
      white-space: nowrap; }
    .exchange-container .dynamic-data {
      margin-bottom: 20px;
      background: #1f2636; }
    .exchange-container .new-exchange-data {
      margin-bottom: 20px;
      background: #1f2636; }
      .exchange-container .new-exchange-data .data-list-box {
        height: auto; }
    .exchange-container .coin-basics-box .coin-basics-title {
      height: auto; }
      .exchange-container .coin-basics-box .coin-basics-title a {
        display: flex;
        font-size: 12px;
        float: right; }
        .exchange-container .coin-basics-box .coin-basics-title a .link {
          width: 170px; }
    .exchange-container .coin-basics-box .coin-basics-con {
      flex-direction: column; }
      .exchange-container .coin-basics-box .coin-basics-con .left {
        padding-right: 0px;
        padding-bottom: 10px; }
      .exchange-container .coin-basics-box .coin-basics-con .right {
        padding-left: 0px; }
        .exchange-container .coin-basics-box .coin-basics-con .right table th, .exchange-container .coin-basics-box .coin-basics-con .right table td {
          word-break: keep-all;
          white-space: nowrap; }
    .exchange-container .exchange-trading-container .link-box {
      display: none; } }

@media screen and (max-width: 600px) {
  .exchange-container {
    min-width: 100%; }
    .exchange-container .exchange-header {
      height: 50px; }
      .exchange-container .exchange-header .stock-code .stock-select-model {
        width: 280px; }
        .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table td.rise-and-fall, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table td.turn-over, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table th.rise-and-fall, .exchange-container .exchange-header .stock-code .stock-select-model .stock-select-table th.turn-over {
          display: none; }
      .exchange-container .exchange-header .exchange-num-list li.current-price {
        display: none; }
      .exchange-container .exchange-header .exchange-num-list li.change-rate {
        display: none; }
    .exchange-container .pay-bix-box {
      height: auto; } }
