@import '../../base.scss';
.broadcast {
    //width: 100%;
    height: 40px;
    background: $bbxBackground2;
    font-size: 12px;
    .broadcast-center {
        position: relative;
        background: $bbxBackground2;
        @extend .center-container;
        .broadcast-con {
            width: 1096px;
            margin: 0 auto;
            margin-right: 70px;
            margin-left: 34px;
            height: 40px;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            .move {
                width: 100%;
                display: flex;
                height: 40px;
                align-items: center;
                a {
                    flex: 1;
                    display: inline-block;
                    color: $bbxGray2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-right: 50px;
                    &:last-child {
                        margin-right: 20px;
                    }
                    &:hover {
                        color: #5f8ed4;
                    }
                }
            }
        }
        
        .horn-icon {
            // width: 25px;
            position: absolute;
            //left: 0px;
            top: 8px;
        }
        .horn-more {
            // color: #2b93f6;
            color: $bbxLink1;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            position: absolute;
            // right: 32px;
            right: 0px;
            top: 0px;
            *{
                vertical-align: middle;
            }
            >img {
                // width: 20px;
            }

            &:hover {
                color: #5f8ed4;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .broadcast {
        .broadcast-center {
            width: 94%;
            .broadcast-con {
                width: 100%;
                margin: 0px;
                padding-left: 30px;
            }
        }
    }
}