@charset "UTF-8";
.pc-banner {
  height: 360px;
  width: 100%;
  min-width: 1200px;
  background: url(../../../images/banner_bk.png) center center;
  /*轮播图相关*/ }
  .pc-banner .pc-banner-center {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
  .pc-banner .banner-list {
    display: block;
    min-height: 360px;
    width: 100%;
    margin: 0 auto;
    background-size: 100% 100%;
    z-index: 0;
    position: relative; }
    .pc-banner .banner-list > li {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0;
      transition: .5s; }
      .pc-banner .banner-list > li > img {
        width: 100%;
        min-height: 360px;
        height: 100%; }
      .pc-banner .banner-list > li.active {
        z-index: 2;
        opacity: 1; }
      .pc-banner .banner-list > li > a {
        display: block;
        width: 100%;
        height: 100%; }
    .pc-banner .banner-list .first-banner {
      width: 100%;
      height: 100%; }
      .pc-banner .banner-list .first-banner .banner-tit {
        font-size: 38px;
        color: #eef4ff;
        text-align: center;
        padding-top: 40px; }
      .pc-banner .banner-list .first-banner hr {
        width: 850px;
        margin: 0 auto;
        background: rgba(209, 222, 255, 0.2);
        border: none;
        height: 1px;
        margin-top: 26px; }
      .pc-banner .banner-list .first-banner .btn-list {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 60px; }
        .pc-banner .banner-list .first-banner .btn-list li {
          display: inline-block;
          text-align: center;
          width: 23%;
          margin: 0px 1%;
          border: 1px solid rgba(0, 0, 0, 0);
          box-sizing: border-box;
          font-size: 0px;
          border-radius: 6px; }
          .pc-banner .banner-list .first-banner .btn-list li:hover {
            border: 1px solid #cee7ff; }
          .pc-banner .banner-list .first-banner .btn-list li a {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: relative; }
            .pc-banner .banner-list .first-banner .btn-list li a .banner-qr-code-box {
              position: absolute;
              left: 32px;
              top: 37px; }
            .pc-banner .banner-list .first-banner .btn-list li a img {
              width: 100%;
              border-radius: 6px; }
  .pc-banner .span-list {
    display: inline-block;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -20px;
    width: 40px;
    bottom: 10px; }
    .pc-banner .span-list span {
      cursor: pointer; }
      .pc-banner .span-list span i {
        display: inline-block;
        margin: 4px;
        background: rgba(255, 255, 255, 0.3);
        opacity: .4;
        width: 10px;
        height: 10px;
        transition: .3s;
        border-radius: 100%; }
      .pc-banner .span-list span.active i {
        background: rgba(255, 255, 255, 0.8); }
  .pc-banner .left, .pc-banner .right {
    display: inline-block;
    opacity: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer; }
    .pc-banner .left:hover, .pc-banner .right:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.7);
      color: #fff; }
    .pc-banner .left .iconfont, .pc-banner .right .iconfont {
      font-size: 24px; }
  .pc-banner .left {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px; }
  .pc-banner .right {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -25px; }
  .pc-banner .swiper-container {
    max-width: 1200px;
    padding-top: 60px;
    padding-bottom: 35px; }
  .pc-banner .swiper-slide {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center; }
  .pc-banner .my-img {
    width: 280px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid transparent; }
  .pc-banner .my-img:hover {
    border: 1px solid #68769d;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all .1s linear; }
  .pc-banner .my-line {
    width: 850px;
    margin: 0 auto;
    border: none;
    height: 1px;
    margin-top: 26px;
    background: rgba(209, 222, 255, 0.2); }
  .pc-banner .swiper-pagination-bullet {
    background-color: #5a678a !important; }
  .pc-banner .swiper-pagination-bullet-active {
    background-color: #007aaf !important; }

@media screen and (max-width: 700px) {
  .swiper-pagination {
    position: relative !important;
    bottom: 0 !important; }
  .banner-list {
    padding-top: 10px; }
  .pc-banner {
    background: linear-gradient(#161c29, #2c364d);
    min-width: 100%; }
    .pc-banner #dot {
      opacity: 0; }
    .pc-banner .pc-banner-center {
      width: 100%; }
    .pc-banner .banner-list {
      min-height: 360px;
      height: auto; }
      .pc-banner .banner-list .first-banner {
        height: auto; }
        .pc-banner .banner-list .first-banner .banner-tit {
          font-size: 1.2rem !important;
          padding-top: 20px; }
        .pc-banner .banner-list .first-banner hr {
          width: 0px;
          margin: 0 auto; }
        .pc-banner .banner-list .first-banner .btn-list {
          padding-top: 10px;
          padding-bottom: 20px; }
          .pc-banner .banner-list .first-banner .btn-list li {
            width: 48%;
            margin: 10px 1%; } }

@media screen and (max-width: 380px) {
  .pc-banner .banner-list {
    min-height: 300px; } }
