.pc-contract-block {
  line-height: normal;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 16px; }
  .pc-contract-block p, .pc-contract-block h3 {
    margin: 0;
    padding: 0; }
  .pc-contract-block .pc-contract-block-title {
    padding: 16px 0px; }
    .pc-contract-block .pc-contract-block-title > span {
      display: inline-block;
      min-width: 80px;
      height: 28px;
      line-height: 28px;
      position: relative;
      background: linear-gradient(to right, #131a36, #1d264d);
      color: #eef4ff;
      padding-left: 8px;
      font-size: 14px; }
      .pc-contract-block .pc-contract-block-title > span::before {
        content: "";
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-top: 14px solid #1e274e;
        position: absolute;
        top: 0px;
        right: -10px; }
      .pc-contract-block .pc-contract-block-title > span::after {
        content: "";
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-bottom: 14px solid #1e274e;
        position: absolute;
        bottom: 0px;
        right: -10px; }
  .pc-contract-block .pc-contract-block-list {
    width: 100%;
    display: flex; }
    .pc-contract-block .pc-contract-block-list li {
      flex: 1;
      height: 110px;
      margin-right: 15px;
      position: relative;
      background: #1a213e;
      border: 1px solid #1a213e;
      border-radius: 5px;
      padding: 18px;
      box-sizing: border-box;
      overflow: hidden;
      cursor: pointer; }
      .pc-contract-block .pc-contract-block-list li:hover {
        border: 1px solid #68769d;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
        transition: all .2s linear; }
      .pc-contract-block .pc-contract-block-list li:last-child {
        margin: 0px; }
      .pc-contract-block .pc-contract-block-list li .rate {
        display: inline-block;
        position: absolute;
        height: 20px;
        line-height: 20px;
        padding: 0px 4px;
        font-size: 12px;
        color: #fff;
        right: 18px;
        top: 18px; }
        .pc-contract-block .pc-contract-block-list li .rate.red {
          background: #df4746; }
        .pc-contract-block .pc-contract-block-list li .rate.green {
          background: #37c66a; }
      .pc-contract-block .pc-contract-block-list li .name {
        color: #eef4ff;
        font-size: 16px;
        display: flex;
        align-items: center; }
        .pc-contract-block .pc-contract-block-list li .name i {
          font-size: 12px;
          font-style: normal;
          color: #5a678a;
          border: 1px solid #5a678a;
          padding: 0px 2px;
          margin-left: 4px;
          border-radius: 2px; }
      .pc-contract-block .pc-contract-block-list li .price {
        padding-top: 14px;
        position: relative;
        z-index: 1; }
        .pc-contract-block .pc-contract-block-list li .price > span {
          font-size: 18px;
          padding-right: 4px; }
          .pc-contract-block .pc-contract-block-list li .price > span.red {
            color: #df4746; }
          .pc-contract-block .pc-contract-block-list li .price > span.green {
            color: #37c66a; }
        .pc-contract-block .pc-contract-block-list li .price > i {
          font-style: normal;
          color: #d4dae6;
          font-size: 12px; }
      .pc-contract-block .pc-contract-block-list li .vol {
        position: relative;
        z-index: 1;
        padding-top: 6px;
        font-size: 12px; }
        .pc-contract-block .pc-contract-block-list li .vol > span {
          color: #8fa7cd;
          padding-right: 6px; }
        .pc-contract-block .pc-contract-block-list li .vol > i {
          font-style: normal;
          color: #d9dfeb; }
      .pc-contract-block .pc-contract-block-list li .svg-box {
        width: 100%;
        height: 50px;
        position: absolute;
        left: -1px;
        bottom: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden; }

@media screen and (max-width: 700px) {
  .pc-contract-block {
    display: none; } }
