.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.pc-data-list-box {
  width: 100%;
  background: #12162D; }
  .pc-data-list-box .pc-data-list {
    width: 1200px;
    margin: 0 auto;
    padding-top: 15px; }
    .pc-data-list-box .pc-data-list .pc-data-list-tab {
      background: #171e3a;
      padding: 15px 0px;
      margin-bottom: 0px; }
      .pc-data-list-box .pc-data-list .pc-data-list-tab li {
        display: inline-block;
        position: relative;
        margin: 0px 18px;
        vertical-align: middle;
        cursor: pointer; }
        .pc-data-list-box .pc-data-list .pc-data-list-tab li.active .name {
          color: #2984df;
          position: relative; }
          .pc-data-list-box .pc-data-list .pc-data-list-tab li.active .name::after {
            content: "";
            width: 20px;
            height: 2px;
            background: #2984df;
            position: absolute;
            left: 50%;
            margin-left: -10px;
            bottom: -4px; }
        .pc-data-list-box .pc-data-list .pc-data-list-tab li .name {
          display: inline-block;
          color: #e9effb; }
        .pc-data-list-box .pc-data-list .pc-data-list-tab li .help {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin-left: 2px; }
          .pc-data-list-box .pc-data-list .pc-data-list-tab li .help i {
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url("../../../images/home/icon-nor.svg") left center no-repeat;
            background-size: 100% 100%;
            cursor: pointer; }
            .pc-data-list-box .pc-data-list .pc-data-list-tab li .help i:hover {
              background: url("../../../images/home/icon-Q_sel.svg") left center no-repeat;
              background-size: 100% 100%; }
              .pc-data-list-box .pc-data-list .pc-data-list-tab li .help i:hover + div {
                display: block; }
          .pc-data-list-box .pc-data-list .pc-data-list-tab li .help > div {
            display: none;
            width: 190px;
            padding: 8px;
            position: absolute;
            background: #171e3a;
            border: 1px solid #293251;
            color: #d5dbe7;
            font-size: 12px;
            left: 50%;
            top: 22px;
            margin-left: -104px; }
            .pc-data-list-box .pc-data-list .pc-data-list-tab li .help > div::before {
              content: "";
              position: absolute;
              top: -5px;
              left: 50%;
              margin-left: -5px;
              width: 8px;
              height: 8px;
              background-color: #171e3a;
              border-left: 1px solid #293251;
              border-top: 1px solid #293251;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .pc-data-list-box .pc-data-list > .table-wrap {
      width: 100%;
      background: #1a213e;
      padding: 0px 10px;
      box-sizing: border-box;
      font-size: 12px; }
      .pc-data-list-box .pc-data-list > .table-wrap table {
        width: 100%;
        border-collapse: collapse; }
        .pc-data-list-box .pc-data-list > .table-wrap table tr {
          height: 40px;
          vertical-align: middle; }
          .pc-data-list-box .pc-data-list > .table-wrap table tr th, .pc-data-list-box .pc-data-list > .table-wrap table tr td {
            text-align: left;
            border: none; }
      .pc-data-list-box .pc-data-list > .table-wrap .table-head tr {
        border-bottom: 1px solid #242d4c; }
        .pc-data-list-box .pc-data-list > .table-wrap .table-head tr th {
          color: #596689; }
      .pc-data-list-box .pc-data-list > .table-wrap .table-content {
        width: 100%;
        height: 390px;
        overflow-y: auto;
        padding-bottom: 20px;
        box-sizing: border-box; }
        .pc-data-list-box .pc-data-list > .table-wrap .table-content table tr {
          cursor: pointer;
          border-bottom: 1px solid #242d4c; }
          .pc-data-list-box .pc-data-list > .table-wrap .table-content table tr:hover {
            background: #212845; }
        .pc-data-list-box .pc-data-list > .table-wrap .table-content table td {
          color: #e0e6f2; }
          .pc-data-list-box .pc-data-list > .table-wrap .table-content table td .operation {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("../../../images/icon-Action_nor.png") left top no-repeat;
            background-size: 100% 100%;
            cursor: pointer; }
            .pc-data-list-box .pc-data-list > .table-wrap .table-content table td .operation:hover {
              background: url("../../../images/icon-Action_sel.png") left top no-repeat;
              background-size: 100% 100%; }
          .pc-data-list-box .pc-data-list > .table-wrap .table-content table td .star, .pc-data-list-box .pc-data-list > .table-wrap .table-content table td .no-star {
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url("../../../images/icon-Favorites_sel.png") left top no-repeat;
            background-size: 100% 100%; }
          .pc-data-list-box .pc-data-list > .table-wrap .table-content table td .no-star {
            background: url("../../../images/icon-Favorites_nor.png") left top no-repeat;
            background-size: 100% 100%; }
          .pc-data-list-box .pc-data-list > .table-wrap .table-content table td.current-price i {
            font-style: normal;
            color: #586689;
            padding-left: 2px; }
          .pc-data-list-box .pc-data-list > .table-wrap .table-content table td.rate .red {
            color: #b83a3a; }
          .pc-data-list-box .pc-data-list > .table-wrap .table-content table td.rate .green {
            color: #319e5c; }
          .pc-data-list-box .pc-data-list > .table-wrap .table-content table td.coin-pair i {
            color: #5a678a;
            border: 1px solid #5a678a;
            font-style: normal;
            font-size: 12px;
            margin-left: 5px;
            border-radius: 2px;
            padding: 0px 2px; }
  .pc-data-list-box .loading, .pc-data-list-box .no-data {
    text-align: center;
    padding: 20px 0px; }
    .pc-data-list-box .loading img, .pc-data-list-box .no-data img {
      width: 50px; }
  .pc-data-list-box .no-data img {
    width: 80px; }
  .pc-data-list-box .no-data p {
    color: #fff; }

@media screen and (max-width: 700px) {
  .pc-data-list-box {
    display: none; } }
