@import '../../base.scss';

.pc-data-list-box {
    width: 100%;
    background: $bbxBackground1;
    .pc-data-list {
        width: 1200px;
        margin: 0 auto;
        padding-top: 15px;

        .pc-data-list-tab {
            // height: 50px;
            background: #171e3a;
            padding: 15px 0px;;
            // box-sizing: border-box;
            margin-bottom: 0px;
            li {
                display: inline-block;
                position: relative;
                margin: 0px 18px;
                vertical-align: middle;
                cursor: pointer;
                &.active {
                    .name {
                        color: #2984df;
                        position: relative;
                        &::after {
                            content: "";
                            width: 20px;
                            height: 2px;
                            background: #2984df;
                            position: absolute;
                            left: 50%;
                            margin-left: -10px;
                            bottom: -4px;
                        }
                    }
                    
                }
                .name {
                    display: inline-block;
                    color: #e9effb;
                }
                .help {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 2px;
                    i {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background: url("../../../images/home/icon-nor.svg") left center no-repeat;
                        background-size: 100% 100%;
                        cursor: pointer;
                        &:hover {
                            background: url("../../../images/home/icon-Q_sel.svg") left center no-repeat;
                            background-size: 100% 100%;                            
                            &+div {
                                display: block;
                            }
                        }
                    }
                    >div {
                        display: none;
                        width: 190px;
                        padding: 8px;
                        position: absolute;
                        background: #171e3a;
                        border: 1px solid #293251;
                        color: #d5dbe7;
                        font-size: 12px;
                        left: 50%;
                        top: 22px;
                        margin-left: -104px;
                        &::before {
                            content: "";
                            position: absolute;
                            top: -5px;
                            left: 50%;
                            margin-left: -5px;
                            width: 8px;
                            height: 8px;
                            background-color: #171e3a;
                            border-left: 1px solid #293251;
                            border-top: 1px solid #293251;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                        
                    }
                }
            }
        }

        >.table-wrap {
            width: 100%;
            background: #1a213e;
            padding: 0px 10px;
            box-sizing: border-box;
            font-size: 12px;
            table {
                width: 100%;
                border-collapse: collapse;
                tr {
                    height: 40px;
                    vertical-align: middle;
                    th,td {
                        text-align: left;
                        border: none;
                    }
                }
            }
        
            .table-head {
                tr {
                    // height: 40px;
                    border-bottom: 1px solid #242d4c;
                    th {
                        color: #596689;
                    }
                }
            }
            .table-content {
                width: 100%;
                height: 390px;
                overflow-y: auto;
                padding-bottom: 20px;
                box-sizing: border-box;
                table {
                    tr {
                        // height: 40px;
                        cursor: pointer;
                        // vertical-align: middle;
                        border-bottom: 1px solid #242d4c;
                        &:hover {
                            background: #212845;
                        }
                    }
                    td {
                        color: #e0e6f2;
                        // border-top: 1px solid #242d4c;

                        .operation {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            background: url("../../../images/icon-Action_nor.png") left top no-repeat;
                            background-size: 100% 100%;
                            cursor: pointer;
                            &:hover {
                                background: url("../../../images/icon-Action_sel.png") left top no-repeat;
                                background-size: 100% 100%;
                            }
                        }
                        .star, .no-star {
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            background: url("../../../images/icon-Favorites_sel.png") left top no-repeat;
                            background-size: 100% 100%;
                        }
                        .no-star {
                            background: url("../../../images/icon-Favorites_nor.png") left top no-repeat;
                            background-size: 100% 100%;
                        }

                        &.current-price {
                            i {
                                font-style: normal;
                                color: #586689;
                                padding-left: 2px;
                            }
                        }

                        &.rate {
                            .red {
                                color: $bbxRed;
                            }
                            .green {
                                color: $bbxGreen;
                            }
                        }

                        &.coin-pair {
                            i {
                                color: #5a678a;
                                border: 1px solid #5a678a;
                                font-style: normal;
                                font-size: 12px;
                                margin-left: 5px;
                                border-radius: 2px;
                                padding:0px 2px;
                            }
                        }
                        
                    }
                }
            }
        }
    }

    .loading,.no-data {
        text-align: center;
        padding: 20px 0px;
        img {
            width: 50px;
        }
    }
    .no-data {
        img {
            width: 80px;
        }
        p {
            color: #fff;
        }
    }
    
    
}


@media screen and (max-width: 700px) {  
    .pc-data-list-box {
        display: none;
    }
}