@import '../../base.scss';

.pc-data {
    @extend .center-container;
    background: $bodyBack;
    padding-top: 20px;

    .data-block {
        width: 100%;
        padding-bottom: 6px;
        display: flex;
        li {
            display: inline-block;
            width: 240px;
            height: 114px;
            //float: left;
            flex: 1;
            margin-right: 14px;
            box-sizing: border-box;
            position: relative;
            border: #313a56 2px solid;
            background: #1f2636;
            border-radius: 2px;
            &:first-child() {
                //padding-left: 0px;
            }
            &:last-child() {
                margin-right: 0px;
            }
            .line-chart-box {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
            }
            .block-box {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                
                padding: 16px;
                box-sizing: border-box;
                //cursor: pointer;
                &:hover {
                    //border: $bbxBorderHeighLight 2px solid;
                }
                .data-t {
                    font-size: 16px;
                    color: $bbxGray;
                    .mark {
                        font-size: 12px;
                        color: #fff;
                        padding: 2px;
                        float: right;
                        border-radius: 3%;
                        &.red{
                            background: $bbxRed;
                        }
                        &.green {
                            background: $bbxGreen;
                        }
                    }
                }
                .data-m {
                    //padding-top: 12px;
                    font-size: 12px;
                    color: $bbxGray;
                    margin-bottom: 0px;
                    span {
                        font-size: 20px;
                        &.green {
                            color: $bbxGreen;
                        }
                        &.red {
                            color: $bbxRed;
                        }
                    }
                }
                .data-b {
                    font-size: 14px;
                    color: $bbxBlue1;
                    //padding-top: 10px;
                    span {
                        font-size: 14px;
                        color: $bbxGray;
                        padding: 0px 5px;
                        padding-left: 8px;
                    }
                }
            }
        }
    }
    .data-table {
        background: rgb(31,38,54);
        width: 100%;
        //height: 270px;
        border-radius: 6px;
        padding-bottom: 22px;
        box-sizing: border-box;
        .data-table-top {
            width: 100%;
            height: 50px;
            //background: yellow;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background: rgba(23,26,37,0.2);
            padding: 0px 12px;
            .data-tab {
                display: inline-block;
                font-size: 16px;
                color: $bbxGray;
                padding-top: 6px;
                li {
                    display: inline-block;
                    cursor: pointer;
                    hr {
                        border: none;
                        opacity: 0;
                        height: 1px;
                        width: 60%;
                        margin: 0 auto;
                        color: $bbxBlue3;
                        background: $bbxBlue3;
                    }
                    &.active {
                        color: $bbxBlue3;
                        hr {
                            opacity: 1;
                        }
                    }
                    div {
                        padding: 5px 10px;
                        //margin: 5px 10px;
                    }                    
                }
            }
            .data-search-box {
                width: 160px;
                height: 30px;
                float: right;
                border-radius: 15px;
                border: 1px solid rgb(52,53,74);
                background: rgba(52,53,74,0.1);
                background: url("../../../images/icon-search.png")10px center no-repeat;
                padding-left: 34px;
                box-sizing: border-box;
                padding-top: 5px;
                margin-top: 10px;
                input {
                    width: 110px;
                    height: 18px;
                    line-height: 18px;
                    padding: 0px;
                    border: none;
                    color: $bbxGray;
                    outline:none;
                    border-left: rgb(95,142,212) solid 1px;
                    padding: 0px 5px;  
                    background: none;
                }
            }
        }
        .data-table-box {
            padding: 0px 12px;
        }
        .data-table-list {
            width: 100%;
            font-size: 12px;
            color: $bbxGray;
            tr {
                cursor: pointer;
                height: 40px;
                *{vertical-align: middle;}
                &:hover{
                    background: rgba(49,58,86,0.3);
                }
                th {
                    font-size: 14px;
                }
                td,th {
                    border-bottom: 1px solid $bbxLineColor;
                    text-align: left;
                    img {
                        cursor: pointer;
                        vertical-align: middle;
                    }
                    &.red,.red {
                        color: $bbxRed;
                    }
                    &.green,.green {
                        color: $bbxGreen;
                    }
                    .action-img {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        background: url("../../../images/icon-Action_nor.png")center center no-repeat;
                        &:hover {
                            background: url("../../../images/icon-Action_sel.png")center center no-repeat;
                        }
                    }
                }
            }
        }
        .ticker-loading {
            text-align: center;
            padding: 10px 0px;
            img {
                width: 50px;
            }
        }
    }
}