.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.pc-otc-box {
  width: 100%;
  height: 70px;
  background: #12162D;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pc-otc-box h3, .pc-otc-box p {
    margin: 0px; }
  .pc-otc-box ::-webkit-input-placeholder {
    font-size: 14px;
    color: #868c98; }
  .pc-otc-box :-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px;
    color: #868c98; }
  .pc-otc-box ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px;
    color: #868c98; }
  .pc-otc-box :-ms-input-placeholder {
    font-size: 14px;
    color: #868c98; }
  .pc-otc-box .pc-otc-title {
    color: #edf3ff;
    font-size: 20px;
    font-weight: 400; }
  .pc-otc-box .pc-otc-price {
    font-size: 14px;
    color: #99afc7;
    margin-left: 35px;
    min-width: 90px; }
  .pc-otc-box .pc-otc-input {
    height: 35px;
    line-height: 35px;
    background: #ffffff;
    width: 228px;
    margin-left: 40px;
    padding-left: 15px;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    outline: none; }
  .pc-otc-box .coin {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background: #ffffff;
    color: #767c8c;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-right: 15px;
    margin-right: 40px; }
  .pc-otc-box .pc-otc-buy-btn {
    display: inline-block;
    min-width: 120px;
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #2b93f6;
    color: #fff;
    border-radius: 2px;
    cursor: pointer; }
    .pc-otc-box .pc-otc-buy-btn:hover {
      background: #2F9DF7; }

@media screen and (max-width: 700px) {
  .pc-otc-box {
    display: block;
    height: auto;
    padding: 10px;
    box-sizing: border-box; }
    .pc-otc-box .pc-otc-title {
      font-size: 1.2rem; }
    .pc-otc-box .pc-otc-price {
      margin-left: 0px;
      font-size: 1rem;
      padding-bottom: 10px;
      padding-top: 5px; }
    .pc-otc-box .pc-otc-buy-box {
      display: flex; }
      .pc-otc-box .pc-otc-buy-box .coin {
        margin-right: 10px; }
      .pc-otc-box .pc-otc-buy-box .pc-otc-input {
        margin-left: 0px;
        width: auto;
        flex: 1; } }
