.center-container, .pc-token .pc-token-center {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container, .pc-token .pc-token-center {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.pc-token {
  width: 100%;
  background: #12162D;
  padding-top: 20px; }
  .pc-token .pc-token-center {
    background: #12162D;
    padding-bottom: 100px; }
  .pc-token .pc-token-tit {
    font-size: 20px;
    text-align: center;
    color: #97B0D6;
    padding: 10px 0px; }
  .pc-token .pc-token-desc {
    font-size: 12px;
    text-align: center;
    color: rgba(151, 176, 214, 0.7);
    width: 780px;
    margin: 0 auto;
    line-height: 1.8; }
  .pc-token .pc-token-list {
    width: 100%; }
    .pc-token .pc-token-list li {
      text-align: center;
      float: left;
      width: 33%;
      padding-top: 100px; }
      .pc-token .pc-token-list li img {
        width: 120px;
        height: 120px; }
      .pc-token .pc-token-list li p {
        font-size: 16px;
        color: #97B0D6;
        padding: 10px 0px; }
