@import '../../base.scss';

.pc-video {
    @extend .center-container;
    padding: 20px 0px;
    background: #171A25;
    box-sizing: border-box;
    .pc-video-title {
        width: 100%;
        text-align: center;
        color: $bbxGray;
        font-size: 20px;
        padding:10px 0;
    }
    .youtube-player-box {
        width: 640px;
        height: 385px;
        margin: 0 auto;
        //background: yellow;
        padding-top: 20px;
    }
    .youtube-player {
        margin: 0 auto;
    }
}