@import '../../base.scss';
.paging {
    width: auto;
    li {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border: 1px solid #576681;
        color: #576681;
        border-radius: 4px;
        margin-left: 10px;
        &.active {
            background: #5f8ed4;
            color: #fff;
        }
    }
}