@import '../../base.scss';
.table-search {
    width: 165px;
    height: 32px;
    border-radius: 15px;
    line-height: 30px;
    background: #253045 url(../../../images/icon-search.png) 10px center no-repeat;
    padding-left: 35px;
    border: 1px solid #334667;
    box-sizing: border-box;
    &.focus {
        border: 1px solid $bbxInputColorForBlack;
    }
    input {
        width: 105px;
        height: 30px;
        margin: 0px;
        border: none;
        border-left:1px solid #324464;
        background: #253045;
        outline: none;
        padding-left: 10px;
        color: #fff;
        
    }
}