@import '../../base.scss';
.security-top {
    display: block;
    color: #ccd4de;
    border-bottom: 1px solid #262e43;
    padding-bottom: 20px;
    position: relative;
    font-size: 16px;
    .reset-pwd{
        position: absolute;
        right: 0px;
        top: 0px;
    }
}

.modify-password {
    ::-webkit-input-placeholder {
        font-size: 12px;
        color: $bbxBlue1;
    }
    :-moz-placeholder {/* Firefox 18- */
        font-size: 12px;
        color: $bbxBlue1;
    }
    ::-moz-placeholder{/* Firefox 19+ */
        font-size: 12px;
        color: $bbxBlue1;
    }
    :-ms-input-placeholder {
        font-size: 12px;
        color: $bbxBlue1;
    }
    width: 600px;
    font-size: 12px;
    
    .form-have-btn {
        width: 100%;
        .input-have-btn {
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 6px;
            position: relative;
            input[type="text"]{
                //flex: 1;
                border: 1px solid #446292;
                background: #253045;
                width: 100%;
                height: 50px;
                color: #fff;
                padding: 0px 10px;
                box-sizing: border-box;
                border-radius: 6px;
                color: #fff;
                outline: none;
                &:disabled {
                    cursor: not-allowed;
                }
                &:focus {
                    border: 1px solid $bbxInputColorForBlack;
                }
            }
            a,button {
                position: absolute;
                right: 0px;
                top: 5px;
                display: inline-block;
                height: 40px;
                line-height: 40px;
                padding: 0px 50px;
                background: none;
                border: none;
                border-left: 1px solid #89a1c5;
                color: #2b93f5;
                cursor: pointer;
            }
            button {
                outline: none;
                &:disabled {
                    color: $bbxBlue1;
                    cursor: not-allowed;
                }
            }
        }
    }
    .form-control {
        width: 100%;
        //padding-top: 20px;
        input[type="text"], input[type="password"] {
            width: 100%;
            height: 50px;
            //line-height: 50px;
            border: 1px solid #446292;
            border-radius: 6px;
            background: #253045;
            padding-left: 10px;
            box-sizing: border-box;
            padding: 0px 10px;
            box-sizing: border-box;
            color: #fff;
            outline: none;
            &:disabled {
                cursor: not-allowed;
                color: $bbxBlue1;
            }
            &:focus {
                border: 1px solid $bbxInputColorForBlack;
            }
        }
    }
    .password-care {
        color: #c8d0da;
        //padding-top: 20px;
        padding-bottom: 15px;
    }
    .error {
        color: $bbxRed;
        height: 20px;
        line-height: 20px;
    }
    .binding-tip {
        color: #c8d0da;
        padding: 5px 0px;
    }
    .modify-pwd-btn {
        background: #2b93f6;
        color: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        border: none;
        font-size: 14px;
        &:disabled {
            background: $bbxBlue1;
            cursor: not-allowed;
        }
    }

    .form-tel-box{
         width: 100%;
        //padding-top: 20px;
        //padding-bottom: 20px;
        input[type="text"] {
            width: 100%;
            height: 50px;
            //line-height: 50px;
            border: 1px solid #446292;
            // border-radius: 6px;
            border-radius: none;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background: #253045;
            padding-left: 10px;
            box-sizing: border-box;
            padding: 0px 10px;
            box-sizing: border-box;
            color: #fff;
            outline: none;
        }
        .tel-select{
            border: none;
            input[type="text"] {
                border-radius: 0px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }
    }

    .account-tab {
        padding-bottom: 20px;
        span {
            display: inline-block;
            width: 82px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #c8d0da;
            background: #1f2636;
            border: 1px solid #43608f;
            cursor: pointer;
            position: relative;
            //border-radius: 4px;
            &:after {
                    display: none;
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 7px solid #43608f;
                    position: absolute;
                    left: 50%;
                    margin-left: -8px;
                    bottom: -7px;
            }
            &.active {
               color:#5e8cd1;
               background: #242c40;
               &:after {
                   display: block;
               }
            }
        }
    }
}

.account-list {
    table {
        width: 100%;
        color: #c8d0da;
        font-size: 14px;
        td {
            padding: 20px 0px;
            border-bottom: 1px solid #262e43;
            &.tip {
                color: rgba(151,176,214,0.7);
                p {
                    margin-bottom: 0px;
                }
            }
            &:last-child {
                text-align: right;
            }

            .effective-radio {
                display: flex;
                text-align: left;
                align-items: center;
                margin-bottom: 0px;
                li {
                    flex: 1;
                    position: relative;
                    label {
                        padding-left: 4px;
                    }
                    input[type="radio"] {
                        width: 14px;
                        height: 14px;
                        opacity: 0;
                    }
                    .radio {
                        padding-left: 0px;
                        position: absolute;
                        left: 0px;
                        top: 3px;
                        width: 14px;
                        height: 14px;
                        // border-radius: 50%;
                        // border: 1px solid #999;
                        background: url("../../../images/safe-choose_nor.png") center center no-repeat;
                        background-size: 100% 100%;
                    }

                    input:checked+.radio {
                        // background: #fe6d32;
                        // border: 1px solid #fe6d32;
                        background: url("../../../images/safe-choose_sel.png") center center no-repeat;
                        background-size: 100% 100%;
                    }

                    input:checked+.radio::after{
                        position: absolute;
                    }
                }
            }
        }
    }
}
.binding-phone {
    .form-tel-box{
         width: 100%;
        //padding-top: 20px;
        //padding-bottom: 20px;
        input[type="text"] {
            width: 100%;
            height: 50px;
            //line-height: 50px;
            border: 1px solid #446292;
            // border-radius: 6px;
            border-radius: none;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background: #253045;
            padding-left: 10px;
            box-sizing: border-box;
            padding: 0px 10px;
            box-sizing: border-box;
            color: #fff;
            outline: none;
        }
        .tel-select{
            border: none;
            display: flex;
            align-items: center;
            input[type="text"] {
                border-radius: 0px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
.reset-password {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #171a25;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 110000;
}
.security-top{
    display: none;
}
.modify-password {
    width: 94%;
    margin: 0 auto;
    .form-control {
        //padding-top: 20px;
        input[type="text"], input[type="password"] {
            height: 40px;
        }
    }
    .form-have-btn {
        .input-have-btn {
            input[type="text"]{
                height: 40px;
            }
            a,button {
                height: 30px;
                line-height: 30px;
                padding:0px 10px;
            }
        }
        
    }

    .modify-pwd-btn {
        height: 40px;
        line-height: 40px;
    }
}
}