@import '../../base.scss';
.account-info {
    width: 100%;
    .account-top {
        width: 100%;
        display: flex;
        padding: 22px;
        box-sizing: border-box;
        background: #283046;
        align-items: center;
        border-radius: 10px;
        .left {
            flex: 1;
            display: flex;
            border-right: 1px solid #2e3751;
            align-items: center;
            .coin-icon {
                flex-basis: 100px;
            }
            .valuation {
                flex: 1;
                padding: 10px;
                h3 {
                    color: $acountTextColor2;
                    font-size: 12px;
                }
                p {
                    color: $acountTextColor1;
                    font-size: 24px;
                    padding-top: 10px;
                }
            }
            .coin-select {
                flex-basis: 80px;
                color: $acountTextColor2;
                font-size: 16px;
                position: relative;
                
            }
        }
        .right {
            flex: 1;
            text-align: right;
            .asset-info-btn {
                color: #2b92f4;
            }
        }
    }
    .register-record {
        width: 100%;
        .title {
            width: 100%;
            color: #cdd5df;
            padding-top: 30px;
            padding-bottom: 20px;
            //border-bottom: 1px solid #303954;
            font-size: 14px;
        }
        table {
            width: 100%;
            font-size: 12px;
            th,td {
                height: 60px;
                vertical-align: middle;
                border-top: 1px solid #303954;
            }
            th {
                color: #8197b9;
            }
            td {
                color: #bec6d0;
            }
        }
    }
}