.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.set-google-pwd-box {
  padding-bottom: 30px; }
  .set-google-pwd-box ::-webkit-input-placeholder {
    font-size: 12px;
    color: rgba(151, 176, 214, 0.7); }
  .set-google-pwd-box :-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
    color: rgba(151, 176, 214, 0.7); }
  .set-google-pwd-box ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
    color: rgba(151, 176, 214, 0.7); }
  .set-google-pwd-box :-ms-input-placeholder {
    font-size: 12px;
    color: rgba(151, 176, 214, 0.7); }
  .set-google-pwd-box .set-google-pwd-form .step {
    display: flex;
    align-items: center;
    padding-top: 10px; }
    .set-google-pwd-box .set-google-pwd-form .step i {
      display: block;
      width: 20px;
      height: 20px;
      background: #cdd5df;
      color: #333947;
      border-radius: 10px;
      text-align: center;
      font-style: normal; }
    .set-google-pwd-box .set-google-pwd-form .step span {
      color: #c7cfd9;
      display: block;
      padding-left: 8px;
      font-size: 0.9rem; }
  .set-google-pwd-box .set-google-pwd-form .download-validator {
    padding-top: 20px;
    padding-left: 32px; }
    .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play, .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store {
      border: 1px solid #cdd5df;
      background: #171a25;
      border-radius: 4px;
      width: 170px;
      height: 60px;
      padding: 8px 0px;
      padding-left: 60px;
      display: inline-block;
      margin-right: 34px;
      cursor: pointer; }
      .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play h3, .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store h3 {
        color: #a9afb9;
        font-size: 12px;
        margin: 0px; }
      .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play p, .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store p {
        color: #cdd5df;
        font-size: 16px;
        margin: 0px; }
      .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play:hover h3, .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play:hover p, .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store:hover h3, .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store:hover p {
        color: #FFFFFF; }
    .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play {
      background: #171a25 url(../../../images/H5-icon-google.png) 15px center no-repeat;
      background-size: 35px 35px; }
    .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store {
      background: #171a25 url(../../../images/H5-icon-iphone.png) 15px center no-repeat;
      background-size: 35px 35px; }
  .set-google-pwd-box .set-google-pwd-form .scan-qr-code {
    padding-top: 20px;
    padding-left: 32px;
    display: flex; }
    .set-google-pwd-box .set-google-pwd-form .scan-qr-code .google-code-box {
      background: #283046;
      border: 1px solid #354769;
      width: 145px;
      height: 160px;
      padding: 10px;
      padding-bottom: 0px;
      border-radius: 4px; }
      .set-google-pwd-box .set-google-pwd-form .scan-qr-code .google-code-box .qr-code {
        width: 124px;
        height: 124px;
        background: #fff;
        padding: 12px; }
      .set-google-pwd-box .set-google-pwd-form .scan-qr-code .google-code-box p {
        color: #889fc2;
        font-size: 12px;
        text-align: center;
        padding: 4px; }
    .set-google-pwd-box .set-google-pwd-form .scan-qr-code .serial-number-box {
      flex: 1;
      padding-left: 25px;
      padding-top: 35px; }
      .set-google-pwd-box .set-google-pwd-form .scan-qr-code .serial-number-box h3 {
        color: #dedee0;
        font-size: 12px; }
      .set-google-pwd-box .set-google-pwd-form .scan-qr-code .serial-number-box p {
        color: #ffffff;
        font-size: 16px; }
  .set-google-pwd-box .set-google-pwd-form .google-code-input {
    padding-top: 20px;
    padding-left: 32px; }
    .set-google-pwd-box .set-google-pwd-form .google-code-input input {
      width: 600px;
      height: 50px;
      background: #253045;
      border: 1px solid #3e5881;
      border-radius: 4px;
      outline: none;
      padding: 0px 10px;
      color: #fff; }
      .set-google-pwd-box .set-google-pwd-form .google-code-input input:focus {
        border: 1px solid #b5d5fe; }
    .set-google-pwd-box .set-google-pwd-form .google-code-input .code-error {
      color: #b83a3a;
      width: 100%;
      height: 18px;
      font-size: 12px;
      padding-bottom: 5px;
      margin-bottom: 0px; }
  .set-google-pwd-box .set-google-pwd-form .google-confirm {
    width: 600px;
    height: 50px;
    color: #ffffff;
    background: #2b93f6;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none; }
    .set-google-pwd-box .set-google-pwd-form .google-confirm:disabled {
      background: rgba(151, 176, 214, 0.7);
      cursor: not-allowed; }
  .set-google-pwd-box .notice {
    background: #313339;
    border: 1px solid #423f3c;
    color: #d5a658;
    padding: 8px 24px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 12px; }

@media screen and (max-width: 700px) {
  .set-google-pwd-box {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #171a25;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 110000; }
    .set-google-pwd-box .set-google-pwd-form {
      width: 94%;
      margin: 0 auto; }
      .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play, .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store {
        width: 40%;
        margin-right: 4%;
        padding: 0px;
        padding-left: 30px;
        height: 40px; }
        .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play h3, .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store h3 {
          font-size: 0.8rem; }
        .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play p, .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store p {
          font-size: 0.9rem; }
      .set-google-pwd-box .set-google-pwd-form .download-validator .download-google-play {
        background: #171a25 url(../../../images/H5-icon-google.png) 6px center no-repeat;
        background-size: 18px 18px; }
      .set-google-pwd-box .set-google-pwd-form .download-validator .download-app-store {
        background: #171a25 url(../../../images/H5-icon-iphone.png) 6px center no-repeat;
        background-size: 18px 18px; }
      .set-google-pwd-box .set-google-pwd-form .scan-qr-code .google-code-box {
        width: 100px;
        height: 130px; }
        .set-google-pwd-box .set-google-pwd-form .scan-qr-code .google-code-box .qr-code {
          width: 80px;
          height: 80px;
          padding: 5px; }
        .set-google-pwd-box .set-google-pwd-form .scan-qr-code .google-code-box p {
          font-size: 0.8rem;
          transform: scale(0.8);
          padding: 0px; }
      .set-google-pwd-box .set-google-pwd-form .scan-qr-code .serial-number-box {
        padding-left: 10px; }
        .set-google-pwd-box .set-google-pwd-form .scan-qr-code .serial-number-box p {
          font-size: 0.8rem;
          padding-top: 5px; }
      .set-google-pwd-box .set-google-pwd-form .google-code-input input {
        height: 40px;
        width: 100%; }
      .set-google-pwd-box .set-google-pwd-form .google-confirm {
        width: 100%;
        height: 40px; } }
