@import '../../base.scss';
.usercenter-container {
    
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    min-height: 100%;
    // padding-bottom: 430px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: #171A25;
    // background: $bodyBack;
    margin-top: 20px;
   
    //用户中心样式
    .assets-body {
        width: 100%;
        min-height: 485px;
        padding-left: 280px;
        box-sizing: border-box;
        background: #171A25;
        padding-bottom: 40px;
        .assets-left {
            width: 100%;
            min-height: 590px;
            background: $bbxBackground1;
            background: #1f2636;
            border-radius: 2px;
            padding: 20px;
            padding-bottom: 0px;
            box-sizing: border-box;
        }
    }
}

@media screen and (max-width: 700px) {
    .usercenter-container {
        width: 100%;
        .assets-body {
            padding: 0px;
        }
    }
}