.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.assets-account {
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px; }
  .assets-account ::-webkit-input-placeholder {
    font-size: 12px;
    color: #C2C2C2; }
  .assets-account :-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
    color: #C2C2C2; }
  .assets-account ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
    color: #C2C2C2; }
  .assets-account :-ms-input-placeholder {
    font-size: 12px;
    color: #C2C2C2; }
  .assets-account .breadcrumbs {
    height: 50px;
    line-height: 50px;
    padding: 0px 20px; }
  .assets-account .assets-valuation {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background: #ffffff;
    margin-top: 10px;
    padding: 0px 20px;
    box-sizing: border-box; }
    .assets-account .assets-valuation .valuation {
      flex: 1; }
      .assets-account .assets-valuation .valuation .label {
        font-size: 14px; }
      .assets-account .assets-valuation .valuation .usdt {
        font-size: 18px;
        padding-left: 6px;
        font-weight: bold; }
      .assets-account .assets-valuation .valuation .cny {
        font-size: 12px;
        padding-left: 6px; }
    .assets-account .assets-valuation .link-box > a {
      display: inline-block;
      padding: 4px 12px;
      color: #2b93f6;
      border: 1px solid #2b93f6;
      border-radius: 4px;
      margin-left: 30px;
      font-weight: bold; }
      .assets-account .assets-valuation .link-box > a:hover {
        color: #439ff7;
        border: 1px solid #5cacf8; }
  .assets-account .assets-list-box {
    padding: 0px 20px;
    background: #ffffff; }
    .assets-account .assets-list-box tbody {
      width: 1160px; }
    .assets-account .assets-list-box td a {
      margin-left: 20px; }
    .assets-account .assets-list-box th .bubble-hover-box {
      display: inline-block;
      position: relative;
      padding-left: 5px; }
      .assets-account .assets-list-box th .bubble-hover-box .bubble-hover {
        display: none; }
      .assets-account .assets-list-box th .bubble-hover-box > i {
        display: inline-block;
        font-size: 14px;
        position: relative;
        cursor: pointer; }
        .assets-account .assets-list-box th .bubble-hover-box > i:hover + .bubble-hover {
          display: block; }
  .assets-account .table-operating {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    box-sizing: border-box; }
    .assets-account .table-operating .hide-check {
      display: flex;
      align-items: center;
      font-size: 12px; }
      .assets-account .table-operating .hide-check > label {
        margin-left: 5px;
        display: flex;
        align-items: center; }
        .assets-account .table-operating .hide-check > label .tip-hover-box {
          position: relative;
          padding-left: 5px; }
          .assets-account .table-operating .hide-check > label .tip-hover-box > i {
            display: inline-block;
            font-size: 14px;
            position: relative;
            cursor: pointer; }
            .assets-account .table-operating .hide-check > label .tip-hover-box > i:hover + .tip-hover {
              display: block; }
          .assets-account .table-operating .hide-check > label .tip-hover-box .tip-hover {
            display: none; }
    .assets-account .table-operating .search-box {
      width: 220px;
      height: 40px;
      border: 1px solid #eceef3;
      border-radius: 4px;
      display: flex;
      align-items: center; }
      .assets-account .table-operating .search-box i {
        color: #101629;
        font-size: 24px;
        display: inline-block;
        width: 34px;
        height: 38px; }
      .assets-account .table-operating .search-box input {
        flex: 1;
        color: #101629;
        height: 38px;
        border: none;
        padding: 0px 10px;
        border-radius: 4px;
        outline: none; }

@media screen and (max-width: 700px) {
  .assets-account {
    width: 100%; }
    .assets-account .assets-valuation {
      flex-direction: column;
      align-items: flex-start;
      height: auto; }
      .assets-account .assets-valuation .valuation {
        flex-direction: column; }
        .assets-account .assets-valuation .valuation > span {
          display: block;
          padding-top: 10px;
          padding-left: 0px !important; }
      .assets-account .assets-valuation .link-box {
        padding: 10px 0px; }
        .assets-account .assets-valuation .link-box > a {
          margin-left: 0px;
          margin-right: 10px; }
    .assets-account .assets-list-box {
      width: 100%;
      overflow-x: auto;
      padding: 0px 20px;
      box-sizing: border-box; }
      .assets-account .assets-list-box tbody {
        width: 100%; }
    .assets-account .table-operating {
      flex-direction: column;
      align-items: flex-start;
      height: auto; }
      .assets-account .table-operating > div {
        margin-bottom: 10px; } }
