.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.recharge-box {
  width: 100%;
  margin-top: 10px; }
  .recharge-box .title {
    margin-bottom: 30px; }
    .recharge-box .title .warning {
      color: #ff8e19;
      padding: 2px 15px;
      background: rgba(255, 142, 25, 0.1);
      margin-left: 20px;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      align-items: center; }
      .recharge-box .title .warning i {
        margin-right: 5px;
        font-size: 14px; }
  .recharge-box .recharge-form {
    background: #ffffff;
    padding-bottom: 30px; }
  .recharge-box .recharge-coin, .recharge-box .recharge-address {
    width: 556px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin: 0 auto; }
    .recharge-box .recharge-coin .left, .recharge-box .recharge-address .left {
      width: 106px;
      flex-basis: 106px;
      color: #999999;
      font-size: 12px; }
      .recharge-box .recharge-coin .left.address-label, .recharge-box .recharge-address .left.address-label {
        align-self: flex-start;
        padding-top: 8px; }
    .recharge-box .recharge-coin .right, .recharge-box .recharge-address .right {
      flex: 1;
      height: 36px; }
      .recharge-box .recharge-coin .right .bbx-dropdown .bbx-dropdown-con, .recharge-box .recharge-address .right .bbx-dropdown .bbx-dropdown-con {
        color: #101629; }
      .recharge-box .recharge-coin .right .address-con, .recharge-box .recharge-address .right .address-con {
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        border: 1px solid #eceef3;
        position: relative;
        height: 36px;
        height: 36px; }
        .recharge-box .recharge-coin .right .address-con input, .recharge-box .recharge-address .right .address-con input {
          display: inline-block;
          flex: 1;
          height: 36px;
          border: none;
          color: #101629;
          outline: none;
          padding: 0px 10px;
          box-sizing: border-box;
          background: none; }
        .recharge-box .recharge-coin .right .address-con .input-text, .recharge-box .recharge-address .right .address-con .input-text {
          padding: 0px 10px;
          flex: 1;
          color: #101629; }
        .recharge-box .recharge-coin .right .address-con .block-address, .recharge-box .recharge-address .right .address-con .block-address {
          display: inline-block;
          position: absolute;
          left: 510px;
          top: 15px;
          word-break: keep-all;
          white-space: nowrap;
          font-size: 12px; }
        .recharge-box .recharge-coin .right .address-con .memo-hint, .recharge-box .recharge-address .right .address-con .memo-hint {
          font-style: normal;
          display: inline-block;
          word-break: keep-all;
          white-space: nowrap;
          color: #ff5d5d;
          background: rgba(255, 93, 93, 0.1);
          margin-left: 20px;
          padding: 0px 5px; }
        .recharge-box .recharge-coin .right .address-con .address-copy, .recharge-box .recharge-coin .right .address-con .qrcode-thumbnail, .recharge-box .recharge-address .right .address-con .address-copy, .recharge-box .recharge-address .right .address-con .qrcode-thumbnail {
          width: 16px;
          height: 16px;
          margin: 0px 10px;
          cursor: pointer; }
        .recharge-box .recharge-coin .right .address-con .address-copy, .recharge-box .recharge-address .right .address-con .address-copy {
          background: url("../../../images/assets/icon-c_nor.svg") left top no-repeat;
          background-size: 100% 100%;
          position: relative; }
          .recharge-box .recharge-coin .right .address-con .address-copy > span, .recharge-box .recharge-address .right .address-con .address-copy > span {
            display: none;
            position: absolute;
            padding: 5px 10px;
            border: 1px solid #eceef3;
            background: #fff !important;
            color: #101629;
            white-space: nowrap;
            bottom: -40px;
            left: -45px;
            z-index: 1;
            box-shadow: 2px 2px 5px #f4f4f7; }
          .recharge-box .recharge-coin .right .address-con .address-copy:hover, .recharge-box .recharge-address .right .address-con .address-copy:hover {
            background: url("../../../images/assets/icon-c_sel.svg") left top no-repeat;
            background-size: 100% 100%; }
            .recharge-box .recharge-coin .right .address-con .address-copy:hover > span, .recharge-box .recharge-address .right .address-con .address-copy:hover > span {
              display: block; }
        .recharge-box .recharge-coin .right .address-con .qrcode-thumbnail, .recharge-box .recharge-address .right .address-con .qrcode-thumbnail {
          background: url("../../../images/assets/icon-QR_nor.svg") left top no-repeat;
          background-size: 100% 100%;
          position: relative; }
          .recharge-box .recharge-coin .right .address-con .qrcode-thumbnail > span, .recharge-box .recharge-address .right .address-con .qrcode-thumbnail > span {
            position: absolute;
            width: 130px;
            height: 130px;
            border: 1px solid #eceef3;
            background: #fff !important;
            align-items: center;
            justify-content: center;
            right: -140px;
            top: -10px;
            display: none;
            box-shadow: 2px 2px 5px #f4f4f7; }
          .recharge-box .recharge-coin .right .address-con .qrcode-thumbnail:hover, .recharge-box .recharge-address .right .address-con .qrcode-thumbnail:hover {
            background: url("../../../images/assets/icon-QR_sel.svg") left top no-repeat;
            background-size: 100% 100%; }
            .recharge-box .recharge-coin .right .address-con .qrcode-thumbnail:hover > span, .recharge-box .recharge-address .right .address-con .qrcode-thumbnail:hover > span {
              display: flex; }
      .recharge-box .recharge-coin .right .code, .recharge-box .recharge-address .right .code {
        padding-top: 20px;
        display: flex;
        width: 730px; }
        .recharge-box .recharge-coin .right .code .left, .recharge-box .recharge-address .right .code .left {
          flex-basis: 130px; }
          .recharge-box .recharge-coin .right .code .left .code-border, .recharge-box .recharge-address .right .code .left .code-border {
            background: #283046;
            border: 1px solid #354769;
            padding: 10px;
            padding-bottom: 5px; }
            .recharge-box .recharge-coin .right .code .left .code-border .code-box, .recharge-box .recharge-address .right .code .left .code-border .code-box {
              width: 130px;
              height: 130px;
              background: #ffffff;
              border: 1px solid #334463;
              border-radius: 4px;
              padding: 10px; }
              .recharge-box .recharge-coin .right .code .left .code-border .code-box img, .recharge-box .recharge-address .right .code .left .code-border .code-box img {
                width: 100%; }
            .recharge-box .recharge-coin .right .code .left .code-border p, .recharge-box .recharge-address .right .code .left .code-border p {
              text-align: center;
              font-size: 12px;
              padding-top: 5px; }
        .recharge-box .recharge-coin .right .code .right, .recharge-box .recharge-address .right .code .right {
          flex: 1;
          color: #c8d0da;
          font-size: 12px;
          padding-left: 20px; }
          .recharge-box .recharge-coin .right .code .right .desc, .recharge-box .recharge-address .right .code .right .desc {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            max-width: 640px;
            line-height: 2.4;
            white-space: pre-wrap !important;
            word-wrap: break-word !important;
            *white-space: normal !important;
            font-size: 12px; }
  .recharge-box .recharge-chain-name {
    width: 556px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
    align-items: center; }
    .recharge-box .recharge-chain-name p {
      width: 106px;
      flex-basis: 106px;
      color: #999999;
      font-size: 12px;
      margin-bottom: 0; }
    .recharge-box .recharge-chain-name div {
      display: flex; }
      .recharge-box .recharge-chain-name div button {
        outline: none;
        border: none;
        background-color: transparent;
        border: 1px solid #eceef3;
        margin-right: 20px;
        width: 100px;
        line-height: 30px;
        border-radius: 5px;
        position: relative; }
        .recharge-box .recharge-chain-name div button span {
          display: none; }
      .recharge-box .recharge-chain-name div .sel-chain-name {
        border: 1px solid #2b93f6;
        overflow: hidden; }
        .recharge-box .recharge-chain-name div .sel-chain-name span {
          width: 0;
          height: 0;
          border-bottom: 20px solid #2b93f6;
          border-left: 20px solid transparent;
          position: absolute;
          bottom: 0;
          right: 0;
          display: block; }
        .recharge-box .recharge-chain-name div .sel-chain-name span:after {
          content: '';
          background: url("../../../images/assets/icon-duihao.svg") center no-repeat;
          background-size: 100% 100%;
          display: inline-block;
          position: absolute;
          z-index: 99;
          top: 9px;
          left: -10px;
          width: 10px;
          height: 10px; }
  .recharge-box .block-browser {
    width: 556px;
    margin: 0 auto;
    text-align: right;
    margin-top: -10px; }
    .recharge-box .block-browser a {
      font-size: 12px;
      color: #2b93f6; }
  .recharge-box .xdag-btn-box {
    padding-top: 20px;
    width: 556px;
    margin: 0 auto; }
    .recharge-box .xdag-btn-box button {
      background: #2b93f6;
      color: #ffffff;
      height: 36px;
      width: 100%;
      text-align: center;
      border: none;
      cursor: pointer;
      outline: none;
      font-size: 16px; }
      .recharge-box .xdag-btn-box button:disabled {
        background: rgba(151, 176, 214, 0.7);
        cursor: not-allowed; }
  .recharge-box .recharge-address-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px; }
  .recharge-box .recharge-desc {
    width: 1000px;
    background: #fbfcff;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 40px; }
    .recharge-box .recharge-desc h3 {
      font-size: 14px;
      color: #101629; }
    .recharge-box .recharge-desc pre {
      color: #999999;
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
      font-size: 12px;
      line-height: 2; }
  .recharge-box .recharge-records {
    display: block;
    width: 100%;
    background: #ffffff;
    margin-top: 10px; }
    .recharge-box .recharge-records .records-tit {
      width: 100%;
      color: #C2C2C2;
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      padding: 0px 20px;
      color: #101629;
      box-shadow: 0px 2px 5px #f2f4f6; }
      .recharge-box .recharge-records .records-tit a {
        color: #C2C2C2;
        float: right;
        font-size: 12px; }
        .recharge-box .recharge-records .records-tit a * {
          vertical-align: middle; }
        .recharge-box .recharge-records .records-tit a img {
          width: 20px; }
    .recharge-box .recharge-records .recharge-table {
      padding: 10px 20px; }
    .recharge-box .recharge-records .recharge-list {
      width: 100%;
      color: #cad2dc;
      font-size: 12px; }
      .recharge-box .recharge-records .recharge-list th {
        color: rgba(151, 176, 214, 0.7);
        border-top: 1px solid #303954;
        font-size: 14px; }
      .recharge-box .recharge-records .recharge-list td {
        color: #c4ccd6; }
      .recharge-box .recharge-records .recharge-list td, .recharge-box .recharge-records .recharge-list th {
        height: 60px;
        border-bottom: 1px solid #303954;
        vertical-align: middle;
        min-width: 90px;
        padding: 0px 10px; }
        .recharge-box .recharge-records .recharge-list td *, .recharge-box .recharge-records .recharge-list th * {
          vertical-align: middle; }
        .recharge-box .recharge-records .recharge-list td.status, .recharge-box .recharge-records .recharge-list th.status {
          text-align: center; }
          .recharge-box .recharge-records .recharge-list td.status .orange, .recharge-box .recharge-records .recharge-list th.status .orange {
            color: #c39a55; }
        .recharge-box .recharge-records .recharge-list td .tx-hash, .recharge-box .recharge-records .recharge-list th .tx-hash {
          display: inline-block;
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .recharge-box .recharge-records .recharge-list td:last-child, .recharge-box .recharge-records .recharge-list th:last-child {
          text-align: right; }
  .recharge-box .paging-box {
    padding: 20px; }
    .recharge-box .paging-box .paging-right {
      float: right; }
  .recharge-box .care {
    height: 34px;
    line-height: 34px;
    background: #313339;
    border: 1px solid #413e3c;
    color: #cb9f56;
    padding: 0px 15px;
    font-size: 12px;
    margin-top: 40px; }
  .recharge-box .no-data {
    text-align: center;
    color: #cbd3dd;
    padding: 20px; }
  .recharge-box .copy-success {
    width: 150px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #eceef3;
    background: #fff !important;
    color: #101629;
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 1000;
    margin-left: -60px;
    animation: success .5s;
    box-shadow: 2px 2px 5px #f4f4f7; }
    .recharge-box .copy-success img {
      width: 28px;
      height: 28px;
      margin-bottom: 5px; }

@keyframes success {
  0% {
    opacity: 0;
    top: 42%; }
  100% {
    opacity: 1;
    top: 40%; } }

@media screen and (max-width: 700px) {
  .recharge-box {
    width: 94%;
    margin: 0 auto; }
    .recharge-box .title {
      height: auto !important;
      display: block;
      margin-bottom: 30px;
      padding: 10px 20px !important; }
      .recharge-box .title .warning {
        margin-left: 0px;
        display: block; }
        .recharge-box .title .warning i {
          margin-right: 5px; }
    .recharge-box .recharge-coin, .recharge-box .recharge-address {
      width: 90%;
      padding-bottom: 10px;
      flex-direction: column; }
      .recharge-box .recharge-coin .left, .recharge-box .recharge-address .left {
        width: 100%;
        flex-basis: auto;
        padding-bottom: 5px; }
      .recharge-box .recharge-coin .right, .recharge-box .recharge-address .right {
        width: 100%;
        flex: 1; }
        .recharge-box .recharge-coin .right .address-con, .recharge-box .recharge-address .right .address-con {
          min-width: 100%;
          display: flex;
          padding: 5px; }
          .recharge-box .recharge-coin .right .address-con input, .recharge-box .recharge-address .right .address-con input {
            min-width: auto;
            padding: 0px 10px;
            flex: 1; }
          .recharge-box .recharge-coin .right .address-con .block-address, .recharge-box .recharge-address .right .address-con .block-address {
            display: none; }
        .recharge-box .recharge-coin .right .bbx-select, .recharge-box .recharge-address .right .bbx-select {
          width: 100% !important;
          height: 40px !important; }
          .recharge-box .recharge-coin .right .bbx-select .bbx-select-con .con, .recharge-box .recharge-address .right .bbx-select .bbx-select-con .con {
            line-height: 40px !important; }
          .recharge-box .recharge-coin .right .bbx-select .bbx-select-con .icon, .recharge-box .recharge-address .right .bbx-select .bbx-select-con .icon {
            line-height: 40px !important; }
        .recharge-box .recharge-coin .right .code, .recharge-box .recharge-address .right .code {
          width: 100%;
          flex-direction: column;
          padding-top: 10px; }
          .recharge-box .recharge-coin .right .code .left, .recharge-box .recharge-address .right .code .left {
            width: 152px; }
          .recharge-box .recharge-coin .right .code .right, .recharge-box .recharge-address .right .code .right {
            padding: 10px 0px 10px 0px; }
        .recharge-box .recharge-coin .right .xdag-btn-box, .recharge-box .recharge-address .right .xdag-btn-box {
          padding-top: 10px; }
          .recharge-box .recharge-coin .right .xdag-btn-box button, .recharge-box .recharge-address .right .xdag-btn-box button {
            height: 40px;
            width: 100%; }
    .recharge-box .recharge-chain-name {
      width: 90%;
      margin: 0 auto;
      display: flex;
      padding-bottom: 10px;
      align-items: center; }
      .recharge-box .recharge-chain-name p {
        width: 20%;
        flex-basis: 20%;
        color: #999999;
        font-size: 12px;
        margin-bottom: 0; }
      .recharge-box .recharge-chain-name div {
        display: flex; }
        .recharge-box .recharge-chain-name div button {
          outline: none;
          border: none;
          background-color: transparent;
          border: 1px solid #eceef3;
          margin-right: 20px;
          width: 100px;
          line-height: 30px;
          border-radius: 5px;
          position: relative; }
          .recharge-box .recharge-chain-name div button span {
            display: none; }
        .recharge-box .recharge-chain-name div .sel-chain-name {
          border: 1px solid #2b93f6;
          overflow: hidden; }
          .recharge-box .recharge-chain-name div .sel-chain-name span {
            width: 0;
            height: 0;
            border-bottom: 20px solid #2b93f6;
            border-left: 20px solid transparent;
            position: absolute;
            bottom: 0;
            right: 0;
            display: block; }
          .recharge-box .recharge-chain-name div .sel-chain-name span:after {
            content: '';
            background: url("../../../images/assets/icon-duihao.svg") center no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            position: absolute;
            z-index: 99;
            top: 9px;
            left: -10px;
            width: 10px;
            height: 10px; }
    .recharge-box .block-browser {
      width: 90%;
      margin: 0px; }
    .recharge-box .xdag-btn-box {
      width: 90%; }
    .recharge-box .recharge-records {
      width: 100%;
      overflow-x: auto; }
    .recharge-box .recharge-desc {
      width: 100%; } }
