.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.record-operating-box {
  display: flex;
  align-items: center;
  height: 80px;
  background: #ffffff;
  padding: 0px 20px; }
  .record-operating-box .form-block {
    display: flex;
    align-items: center;
    flex: 1; }
    .record-operating-box .form-block label {
      padding-right: 12px;
      font-size: 12px; }
    .record-operating-box .form-block .form-control {
      width: 145px;
      height: 30px; }
      .record-operating-box .form-block .form-control .bbx-dropdown .bbx-dropdown-con {
        border-radius: 4px; }
    .record-operating-box .form-block.time {
      flex: 1.6; }
    .record-operating-box .form-block .time-select .ant-input {
      border: 1px solid #eceef3 !important; }
  .record-operating-box .inquire-btn button {
    width: 120px;
    height: 30px;
    background: #2b93f6;
    border: none;
    color: #ffffff;
    border-radius: 4px; }
    .record-operating-box .inquire-btn button:hover {
      background: #5cacf8; }

@media screen and (max-width: 700px) {
  .record-operating-box {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-bottom: 10px; }
    .record-operating-box .form-block.time {
      display: none; }
    .record-operating-box > div {
      margin-top: 10px; } }
