@import '../../base.scss';
.assets-account {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    // height: 300px;
    // background: $assetsConBack;
    ::-webkit-input-placeholder {
        font-size: 12px;
        color: $assetsInputPlaceholder;
    }
    :-moz-placeholder {/* Firefox 18- */
        font-size: 12px;
        color: $assetsInputPlaceholder;
    }
    ::-moz-placeholder{/* Firefox 19+ */
        font-size: 12px;
        color: $assetsInputPlaceholder;
    }
    :-ms-input-placeholder {
        font-size: 12px;
        color: $assetsInputPlaceholder;
    }
    .breadcrumbs{
        height: 50px;
        line-height: 50px;
        padding: 0px 20px;
    }
    .assets-valuation {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        background: $assetsConBack;
        margin-top: 10px;
        padding: 0px 20px;
        box-sizing: border-box;
        .valuation {
            flex: 1;
            .label {
                font-size: 14px;
            }
            .usdt {
                font-size: 18px;
                padding-left: 6px;
                font-weight: bold;
            }
            .cny {
                font-size: 12px;
                padding-left: 6px;
            }
        }
        .link-box {
             >a {
                display: inline-block;
                padding: 4px 12px;
                color: $assetsLinkColor;
                border: 1px solid $assetsLinkColor;
                border-radius: 4px;
                margin-left: 30px;
                font-weight: bold;
                &:hover {
                    color: lighten($assetsLinkColor, 5%);
                    border: 1px solid lighten($assetsLinkColor, 10%);
                }
            }
        }
    }
    .assets-list-box {
        padding: 0px 20px;
        background: $assetsConBack;
        tbody {
            width: 1160px;
        }
        td {
            a {
                margin-left: 20px;
            }
        }
        th {
            .bubble-hover-box {
                display: inline-block;
                position: relative;
                padding-left: 5px;
                .bubble-hover {
                    display: none;
                }
                >i {
                    display: inline-block;
                    font-size: 14px;
                    position: relative;
                    // padding-top: 1px;
                    cursor: pointer;
                    &:hover {
                        &+.bubble-hover {
                            display: block;
                        }
                    }
                }
            }
           
        }
    }
    .table-operating {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2px;
        // padding: 0px 20px;
        box-sizing: border-box;
        .hide-check {
            display: flex;
            align-items: center;
            font-size: 12px;
            >input {
                
            }
            >label {
                margin-left: 5px;
                display: flex;
                align-items: center;
                .tip-hover-box {
                    position: relative;
                    padding-left: 5px;
                    >i {
                        display: inline-block;
                        font-size: 14px;
                        position: relative;
                        // padding-top: 1px;
                        cursor: pointer;
                        &:hover {
                            &+.tip-hover {
                                display: block;
                            }
                        }
                    }
                    .tip-hover {
                        display: none;
                    }
                }
            }
        }
        .search-box {
            width: 220px;
            height: 40px;
            border: 1px solid $assetsInputBorder;
            border-radius: 4px;
            display: flex;
            align-items: center;
            
            i {
                color: $assetsInputColor;
                font-size: 24px;
                display: inline-block;
                width: 34px;
                height: 38px;
            }
            input {
                flex: 1;
                color: $assetsInputColor;
                height: 38px;
                border: none;
                padding: 0px 10px;
                border-radius: 4px;
                outline: none;
            }
        }
    }
}

@media screen and (max-width: 700px) {
.assets-account {
    width: 100%;
    .assets-valuation {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        .valuation {
            flex-direction: column;
            >span {
                display: block;
                padding-top: 10px;
                padding-left: 0px!important;
            }
        }
        .link-box {
            padding: 10px 0px;
            >a {
                margin-left: 0px;
                margin-right: 10px;
            }
        }
    }
    .assets-list-box {
        width: 100%;
        overflow-x: auto;
        padding: 0px 20px;
        box-sizing: border-box;
        tbody {
            width: 100%;
        }
    }
    .table-operating {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        >div {
            margin-bottom: 10px;
        }
    }
}
}