@import '../../base.scss';

::-webkit-input-placeholder {
    font-size: 14px;
    color: $assetsInputPlaceholder;
}
:-moz-placeholder {/* Firefox 18- */
    font-size: 14px;
    color: $assetsInputPlaceholder;
}
::-moz-placeholder{/* Firefox 19+ */
    font-size: 14px;
    color: $assetsInputPlaceholder;
}
:-ms-input-placeholder {
    font-size: 14px;
    color: $assetsInputPlaceholder;
}
$formWidth: 440px; // 表单宽度
$inputHeight: 35px; // 输入框高度

.assets-withdraw-box {
    width: 100%;
    margin-top: 10px;
    div, p {
        margin: 0px;
    }
    .title {
        margin-bottom: 20px;
    }
    .withdraw-form-box {
        width: 100%;
        // padding: 20px;
        padding-top: 0px;
        // box-sizing: border-box;
        background: $assetsConBack;
        padding-bottom: 30px;
        .withdraw-form {
            width: $formWidth;
            margin: 0 auto;
        }
        .recharge-chain-name {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            p {
                // width: 106px;
                // flex-basis: 106px;
                color: $assetsLableColor;
                font-size: 12px;
                margin-bottom: 12px;
            }
            div {
                button {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    border: 1px solid #eceef3;
                    margin-right: 20px;
                    width: 100px;
                    line-height: 30px;
                    border-radius: 5px;
                    position: relative;
                    span {
                        display: none;
                    }
                }
            }
            .sel-chain-name {
                border: 1px solid #2b93f6;
                overflow: hidden;
                span {
                    width: 0;
                    height: 0;
                    border-bottom: 20px solid #2b93f6;
                    border-left: 20px solid transparent;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: block;
                }
                span:after {
                    content: '';
                    background: url('../../../images/assets/icon-duihao.svg') center no-repeat;
                    background-size: 100% 100%;
                    display: inline-block;
                    position: absolute;
                    z-index: 99;
                    top: 9px;
                    left: -10px;
                    width: 10px;
                    height: 10px;
                }
            }
        }
        .form-control {
            width: 100%;
            min-height: 85px;
            margin: 0 auto;
            label {
                // padding-bottom: 12px;
                font-size: 12px;
                color: $assetsLableColor;
            }
            .form-input {
                width: 100%;
                height: $inputHeight;
                margin-top: 12px;
                .input-have-btn {
                    width: 100%;
                    position: relative;
                    >a {
                        position: absolute;
                        right: 10px;
                        top: 9px;
                        font-size: 12px;
                    }
                    input {
                        padding-right: 70px;
                    }
                }
                input {
                    width: 100%;
                    height: $inputHeight;
                    padding: 0px 10px;
                    border: 1px solid $assetsInputBorder;
                    color: $assetsInputColor;
                    outline: none;
                }
                .address-list {
                    width: 440px;
                    position: absolute;
                    background: $assetsConBack;
                    border: 1px solid $assetsInputBorder;
                    li {
                        padding: 12px 10px;
                        border-bottom: 1px solid $assetsInputBorder;
                        cursor: pointer;
                        &:hover {
                            background: $assetsTrHoverBack;
                        }
                        &:last-child {
                            border-bottom: 0px;
                        }
                        >div {
                            font-size: 12px;
                            span {
                                &:first-child {
                                    color: $assetsButtonBlue;
                                    background: rgba($assetsButtonBlue, 0.1);
                                    padding: 1px 2px;
                                }
                            }
                        }
                        >p {
                            color: $assetsInputColor;
                        }
                    }
                }
                .bbx-dropdown {
                    .bbx-dropdown-con {
                        color: $assetsInputColor;
                    }
                }
            }
            .fee-box {
                input {
                    border: none;
                    background: #F7F9FF;
                }
            }
            .max-withdrawal {
                margin-top: 2px;
                margin-bottom: 12px;
                font-size: 12px;
            }
            .error {
                color: red;
                font-size: 12px;
            }
        }
        .amount-arrival {
            width: 100%;
            margin: 0 auto;
            padding-bottom: 20px;
        }
        .submit-btn {
            display: block;
            width: 100%;
            height: $inputHeight;
            border: none;
            background: $assetsButtonBlue;
            margin: 0 auto;
            color: $assetsBtnColor;
            cursor: pointer;
            &:hover {
                background: rgba($assetsButtonBlue, 0.9);
            }
            &:disabled {
                background: $assetsInputPlaceholder;
                cursor: not-allowed;
            }
        }
        .withdrawal-desc {
            width: 1000px;
            background: $assetsTheadBack;
            margin: 0 auto;
            padding: 20px 30px;
            box-sizing: border-box;
            margin-top: 30px;
            pre {
                color: $assetsLableColor;
                margin-bottom: 0px;
                white-space: pre-wrap!important;
                word-wrap: break-word!important;
                font-size: 12px;
                line-height: 2;
            }
        }
    }

    .withdraw-record {
        display: block;
        width: 100%;
        background: $assetsConBack;
        margin-top: 10px;
        .withdraw-tit {
            width: 100%;
            color: $assetsInputPlaceholder;
            font-size: 16px;
            height: 50px;
            line-height: 50px;
            padding: 0px 20px;
            color: $assetsTitleColor;
            box-shadow: 0px 2px 5px $assetsBack;
            a {
                color: $assetsInputPlaceholder;
                float: right;
                font-size: 12px;
                *{
                    vertical-align: middle;
                }
                img {
                    width: 20px;
                }
            }
        }
        .withdraw-table{
            padding: 10px 20px;
        }
    }
    .paging-box {
        //float: right;
        padding: 20px;
        .paging-right {
            float: right;
        }
    }
}

@media screen and (max-width: 700px) {
.assets-withdraw-box {
    width: 100%;
    .withdraw-form-box {
        width: 100%;
        padding: 20px 0px;
        .withdraw-form {
            width: 90%;
            margin: 0 auto;
            .recharge-chain-name {
                width: 90%;
                // margin: 0 auto;
                display: flex;
                // padding-bottom: 10px;
                // align-items: center;
                p {
                    // margin-bottom: 10px;
                    width: 20%;
                    flex-basis: 20%;
                    color: $assetsLableColor;
                    font-size: 12px;
                    margin-bottom: 12px;
                }
                div {
                    // margin-bottom: 20px;
                    display: flex;
                    button {
                        outline: none;
                        border: none;
                        background-color: transparent;
                        border: 1px solid #eceef3;
                        margin-right: 20px;
                        width: 100px;
                        line-height: 30px;
                        border-radius: 5px;
                        position: relative;
                        span {
                            display: none;
                        }
                    }
                    .sel-chain-name {
                        border: 1px solid #2b93f6;
                        overflow: hidden;
                        span {
                            width: 0;
                            height: 0;
                            border-bottom: 20px solid #2b93f6;
                            border-left: 20px solid transparent;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            display: block;
                        }
                        span:after {
                            content: '';
                            background: url('../../../images/assets/icon-duihao.svg') center no-repeat;
                            background-size: 100% 100%;
                            display: inline-block;
                            position: absolute;
                            z-index: 99;
                            top: 9px;
                            left: -10px;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
            .form-control {
                .form-input {
                    .address-list {
                        width: 90%;
                    }
                }
            }
        }
        .withdrawal-desc {
            width: 90%;
        }
    }
    .withdraw-record {
        width: 100%;
        overflow-x: auto;
    }
} 
}

