@import '../../base.scss';

.assets-container {
    ::-webkit-scrollbar{
        width: 5px;
        height: 10px;
    }

    ::-webkit-scrollbar-track-piece{
        background-color: #ECEEF3;
        -webkit-border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:vertical{
        height: 5px;
        background-color: #CED1D6;
        -webkit-border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:horizontal{
        width: 2px;
        background: #CED1D6;
        -webkit-border-radius: 6px;
    }
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: $assetsBack;

    .assets-body {
        width: 1200px;
        margin: 0 auto;
        min-height: 485px;
        box-sizing: border-box;
        padding-bottom: 40px;
        .title {
            height: 50px;
            background: $assetsConBack;
            color: $assetsTitleColor;
            display: flex;
            align-items: center;
            padding: 0px 20px;
            box-shadow: 0px 2px 5px $assetsBack;
            font-size: 16px;
            font-weight: bold;
        }
    }
    
}

@media screen and (max-width: 700px) {
    .assets-container {
        width: 100%;
        .assets-body {
            padding: 0px;
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: 110000;
            width: 100%;
            overflow-y: auto;
            background: $assetsBack;
        }
    }
}