@import '../../base.scss';
$formWidth: 440px; // 表单宽度
$inputHeight: 35px; // 输入框高度
.withdraw-address-box {
    ::-webkit-input-placeholder {
        font-size: 14px;
        color: $assetsInputPlaceholder;
    }
    :-moz-placeholder {/* Firefox 18- */
        font-size: 14px;
        color: $assetsInputPlaceholder;
    }
    ::-moz-placeholder{/* Firefox 19+ */
        font-size: 14px;
        color: $assetsInputPlaceholder;
    }
    :-ms-input-placeholder {
        font-size: 14px;
        color: $assetsInputPlaceholder;
    }
    .breadcrumbs{
        height: 50px;
        line-height: 50px;
        padding: 0px 20px;
    }
    .add-address-box {
        // width: 100%;
        width: 1200px;
        margin: 0 auto;
        // padding-top: 20px;
        background: $assetsConBack;
        padding-bottom: 20px;
        >ul {
            // width: 100%;
            width: $formWidth;
            margin: 0 auto;
            
            align-items: center;
            margin-bottom: 0px;
            padding-top: 20px;
            >li {
                width: 100%;
                // display: flex;
                align-items: center;
                height: 50px;
                min-height: 90px;
                .label {
                    display: block;
                    color: $assetsLableColor;
                    font-size: 12px;
                    padding-bottom: 15px;
                }
                .add-form-control {
                    width: 100%;
                    height: $inputHeight;
                    
                    input {
                        height: $inputHeight;
                        width: 100%;
                        // border: 1px solid #43618f;
                        // background: #253045;
                        // border-radius: 6px;
                        outline: none;
                        color: $assetsInputColor;
                        padding: 0px 10px;
                        border: none;
                        border: 1px solid $assetsInputBorder;
                        &:focus {
                            border: 1px solid $bbxInputColorForBlack;
                        }
                    }
                }
                .error {
                    font-size: 12px;
                    color: red;
                }
                &.coin-li{
                    //flex: 1;
                    
                }
                &.address-li {
                    //flex: 4;
                   
                }
                &.note-li {
                    //flex: 2;
                }

                .bbx-dropdown {
                    .bbx-dropdown-con {
                        color: $assetsInputColor;
                    }
                }
            }
        }
        .add-button {
            width: $formWidth;
            margin: 0 auto;
            //padding-top: 20px;
            // padding-left: 120px;
            margin-top: 10px;
            button {
                display: block;
                width: $formWidth;
                height: $inputHeight;
                border: none;
                background: $assetsButtonBlue;
                margin: 0 auto;
                color: $assetsBtnColor;
                cursor: pointer;
                &:hover {
                    background: rgba($assetsButtonBlue, 0.9);
                }
                &:disabled {
                    background: $assetsInputPlaceholder;
                    cursor: not-allowed;
                }
            }
        }
    }
    .address-table-box {
        display: block;
        width: 100%;
        background: $assetsConBack;
        margin-top: 10px;
        tbody {
            overflow: visible!important;
        }
        .address-table-title {
            width: 100%;
            color: #cad2dc;
            font-size: 16px;
            height: 50px;
            line-height: 50px;
            padding: 0px 20px;
            color: $assetsTitleColor;
            box-shadow: 0px 2px 5px $assetsBack;
            a {
                color: #cad2dc;
                float: right;
                font-size: 12px;
                *{
                    vertical-align: middle;
                }
                img {
                    width: 20px;
                }
            }
        }
        .address-record{
            padding: 10px 20px;
            td {
                img {
                    width: 22px;
                    height: 22px;
                    margin-right: 2px;
                }
                .have-qrcode {
                    position: relative;
                    .address-qrcode-icon {
                        cursor: pointer;
                        margin-right: 4px;
                        width: 14px;
                        height: 14px;
                        &:hover {
                            &+.qrcode-tip-box {
                                display: block;
                            }
                        }
                    }
                    .qrcode-tip-box {
                        display: none;
                        width: 100px;
                        height: 100px;
                        border: 5px solid #5d6c87;
                        position: absolute;
                        background: #fff;
                        top: -106px;
                        left: -42px;
                        padding: 2px;
                        &::after {
                            content: "";
                            width:0;
                            height:0;
                            border-width:8px 6px 0;
                            border-style:solid;
                            border-color: #5d6c87 transparent transparent;/*灰 透明 透明 */
                            //margin:40px auto;
                            position: absolute;
                            left: 39px;
                            bottom: -13px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .withdraw-address-box {
        .add-address-box {
            width: 100%;
            >ul {
                padding: 0px 20px;
                width: 100%;
                box-sizing: border-box;
                padding-top: 10px;
            }
            .add-button {
                width: 100%;
                padding: 0px 20px;
                box-sizing: border-box;
                button {
                    width: 100%;
                }
            }
        }
        .address-table-box {
            .address-record {
                width: 100%;
                overflow-x: auto;
            }
        }
    }
}