.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.validate-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px; }
  .validate-box .v-mask {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20000; }
  .validate-box .con-block {
    width: 442px;
    max-height: 410px;
    background: #ffffff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -221px;
    margin-top: -200px;
    z-index: 20001;
    padding: 28px 45px;
    box-sizing: border-box;
    padding-bottom: 35px; }
    .validate-box .con-block > h3 {
      text-align: center;
      font-size: 16px;
      color: #101629; }
    .validate-box .con-block > .close {
      color: #cdd5df;
      position: absolute;
      right: 10px;
      top: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer; }
      .validate-box .con-block > .close i {
        font-size: 16px; }
    .validate-box .con-block .v-block {
      min-height: 88px; }
      .validate-box .con-block .v-block label {
        display: block;
        font-size: 12px;
        padding-bottom: 5px;
        color: #999999; }
      .validate-box .con-block .v-block input {
        border: 1px solid #eceef3;
        padding: 0px 10px;
        color: #101629;
        outline: none; }
      .validate-box .con-block .v-block .have-btn {
        display: flex;
        width: 100%; }
        .validate-box .con-block .v-block .have-btn input {
          height: 40px;
          flex: 1; }
        .validate-box .con-block .v-block .have-btn button {
          display: inline-block;
          height: 40px;
          padding: 0px 12px;
          background: #2b93f6;
          color: #ffffff;
          border: none;
          outline: none;
          cursor: pointer;
          min-width: 94px;
          text-align: center;
          font-size: 12px; }
          .validate-box .con-block .v-block .have-btn button:disabled {
            background: #cdd5df; }
      .validate-box .con-block .v-block .input-box {
        width: 100%;
        height: 40px; }
        .validate-box .con-block .v-block .input-box input {
          width: 100%;
          height: 100%; }
      .validate-box .con-block .v-block .phone-email {
        text-align: right;
        font-size: 12px;
        padding-top: 2px; }
      .validate-box .con-block .v-block .error {
        color: red; }
    .validate-box .con-block .v-submit-btn {
      width: 100%;
      height: 40px;
      background: #2b93f6;
      cursor: pointer;
      color: #ffffff;
      margin-top: 10px; }
      .validate-box .con-block .v-submit-btn:hover {
        background: rgba(43, 147, 246, 0.9); }
      .validate-box .con-block .v-submit-btn:disabled {
        background: #C2C2C2;
        cursor: not-allowed; }
