@charset "UTF-8";
.center-container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  .center-container {
    width: 100%; } }

.h5-box-fixed {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #171a25;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 110000; }

.scale1px {
  position: relative;
  border: none; }
  .scale1px:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top; }

.withdraw-address-box ::-webkit-input-placeholder {
  font-size: 14px;
  color: #C2C2C2; }

.withdraw-address-box :-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  color: #C2C2C2; }

.withdraw-address-box ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #C2C2C2; }

.withdraw-address-box :-ms-input-placeholder {
  font-size: 14px;
  color: #C2C2C2; }

.withdraw-address-box .breadcrumbs {
  height: 50px;
  line-height: 50px;
  padding: 0px 20px; }

.withdraw-address-box .add-address-box {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  padding-bottom: 20px; }
  .withdraw-address-box .add-address-box > ul {
    width: 440px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 20px; }
    .withdraw-address-box .add-address-box > ul > li {
      width: 100%;
      align-items: center;
      height: 50px;
      min-height: 90px; }
      .withdraw-address-box .add-address-box > ul > li .label {
        display: block;
        color: #999999;
        font-size: 12px;
        padding-bottom: 15px; }
      .withdraw-address-box .add-address-box > ul > li .add-form-control {
        width: 100%;
        height: 35px; }
        .withdraw-address-box .add-address-box > ul > li .add-form-control input {
          height: 35px;
          width: 100%;
          outline: none;
          color: #101629;
          padding: 0px 10px;
          border: none;
          border: 1px solid #eceef3; }
          .withdraw-address-box .add-address-box > ul > li .add-form-control input:focus {
            border: 1px solid #b5d5fe; }
      .withdraw-address-box .add-address-box > ul > li .error {
        font-size: 12px;
        color: red; }
      .withdraw-address-box .add-address-box > ul > li .bbx-dropdown .bbx-dropdown-con {
        color: #101629; }
  .withdraw-address-box .add-address-box .add-button {
    width: 440px;
    margin: 0 auto;
    margin-top: 10px; }
    .withdraw-address-box .add-address-box .add-button button {
      display: block;
      width: 440px;
      height: 35px;
      border: none;
      background: #2b93f6;
      margin: 0 auto;
      color: #ffffff;
      cursor: pointer; }
      .withdraw-address-box .add-address-box .add-button button:hover {
        background: rgba(43, 147, 246, 0.9); }
      .withdraw-address-box .add-address-box .add-button button:disabled {
        background: #C2C2C2;
        cursor: not-allowed; }

.withdraw-address-box .address-table-box {
  display: block;
  width: 100%;
  background: #ffffff;
  margin-top: 10px; }
  .withdraw-address-box .address-table-box tbody {
    overflow: visible !important; }
  .withdraw-address-box .address-table-box .address-table-title {
    width: 100%;
    color: #cad2dc;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    color: #101629;
    box-shadow: 0px 2px 5px #f2f4f6; }
    .withdraw-address-box .address-table-box .address-table-title a {
      color: #cad2dc;
      float: right;
      font-size: 12px; }
      .withdraw-address-box .address-table-box .address-table-title a * {
        vertical-align: middle; }
      .withdraw-address-box .address-table-box .address-table-title a img {
        width: 20px; }
  .withdraw-address-box .address-table-box .address-record {
    padding: 10px 20px; }
    .withdraw-address-box .address-table-box .address-record td img {
      width: 22px;
      height: 22px;
      margin-right: 2px; }
    .withdraw-address-box .address-table-box .address-record td .have-qrcode {
      position: relative; }
      .withdraw-address-box .address-table-box .address-record td .have-qrcode .address-qrcode-icon {
        cursor: pointer;
        margin-right: 4px;
        width: 14px;
        height: 14px; }
        .withdraw-address-box .address-table-box .address-record td .have-qrcode .address-qrcode-icon:hover + .qrcode-tip-box {
          display: block; }
      .withdraw-address-box .address-table-box .address-record td .have-qrcode .qrcode-tip-box {
        display: none;
        width: 100px;
        height: 100px;
        border: 5px solid #5d6c87;
        position: absolute;
        background: #fff;
        top: -106px;
        left: -42px;
        padding: 2px; }
        .withdraw-address-box .address-table-box .address-record td .have-qrcode .qrcode-tip-box::after {
          content: "";
          width: 0;
          height: 0;
          border-width: 8px 6px 0;
          border-style: solid;
          border-color: #5d6c87 transparent transparent;
          /*灰 透明 透明 */
          position: absolute;
          left: 39px;
          bottom: -13px; }

@media screen and (max-width: 700px) {
  .withdraw-address-box .add-address-box {
    width: 100%; }
    .withdraw-address-box .add-address-box > ul {
      padding: 0px 20px;
      width: 100%;
      box-sizing: border-box;
      padding-top: 10px; }
    .withdraw-address-box .add-address-box .add-button {
      width: 100%;
      padding: 0px 20px;
      box-sizing: border-box; }
      .withdraw-address-box .add-address-box .add-button button {
        width: 100%; }
  .withdraw-address-box .address-table-box .address-record {
    width: 100%;
    overflow-x: auto; } }
